@import "compass/reset";
@import "compass/css3";
@import "compass/typography";

//  COLORS
//--------------------------------------------------

$black:       #000000;
$white:       #ffffff;

$orange-dark:       #bf4c00;
$orange:            #cc6600;
$orange-light:      #d97f00;
$orange-lighter:    #e69900;

$blue-darker:       #071e41;
$blue-dark:         #0b2a5d;
$blue:              #15499f;
$blue-light:        #4c81c3;
$blue-lighter:      #83bae8;
$blue-lightest:     #d1e5f7;
$blue-white:        #e8f2fb;

$slate-dark:        #475f85;
$slate:             #8494ae;
$slate-light:       #c3cbd6;

$gray-dark:         #333333;
$gray:              #666666;

$brown:             #7f4126;

//  Variables
//--------------------------------------------------

$siteWidth: 940px;

//  FONTS
//--------------------------------------------------

$base-font-size: 13px;
$base-line-height: 18px;

$sans-serif:  "Helvetica Neue", Arial, Helvetica, "Lucida Grande", Verdana, sans-serif;
$condensed:   "SteelfishBold", "Helvetica Neue", Arial, Helvetica, "Lucida Grande", Verdana, sans-serif;


//  MIXINS
//--------------------------------------------------

.clearfix {
  @include legacy-pie-clearfix;
}

//  @include

.button {
  background: $white;
  @include background(linear-gradient($white, #cfd5df));
  @include border-radius(3px);
  @include box-shadow(0 0 10px $white inset, 0 1px 1px rgba($black, .15));
  @include inline-block;
  @include link-colors($blue, $blue-dark);
  @include transition(all, .25s);
  border: 1px solid $slate-light;
  border-bottom: 1px solid $slate;
  border-color: #c3cbd6 #afb9c9 #95a1b6;
  font-weight: bold;
  line-height: 24px;
  padding: 0 10px;
  text-decoration: none;
  &:hover {
    //@include background($white);
    @include box-shadow(0 0 10px 5px $white inset, 0 1px 1px rgba($black, .15));
    border-color: #95a1b6;
  }
}

.button-large {
  @extend .button;
  line-height: 30px;
  padding: 0 15px;
}

.submit {
  @extend .button;
  background: $white;
  @include background(image-url("icon-arrow-small.png") 100% 50% no-repeat, linear-gradient($white, #cfd5df));
  padding-right: 34px;
}

.submit-large {
  @extend .button-large;
  background: $white;
  @include background(image-url("icon-arrow.png") 100% 50% no-repeat, linear-gradient($white, #cfd5df));
  padding-right: 45px;
}

//  @extend

.bottom-dash {
  border-bottom: 1px dashed $slate-light;
  margin-bottom: 2em;
  padding-bottom: 2em;
}

//  Icons

@mixin icon($x:0, $y:0) {
  @include background(image-url("icons.png") $x $y no-repeat);
}

@mixin icon-hover($x:0, $y:0, $xh:0, $yh:0) {
  @include icon($x, $y);
  &:hover {
    @include icon($xh, $yh);
  }
}