@import "base";

/*----------------------------------------------------------------------------------------------------

  GENERAL

----------------------------------------------------------------------------------------------------*/

//  Typography
//----------------------------------------------------------------------------------------------------

@include establish-baseline;

body {
  color: $gray-dark;
  font-family: $sans-serif;
}

h1 {
  @include adjust-font-size-to(48px);
  color: $blue;
  font-family: $condensed;
  margin-bottom: .5em;
  text-transform: uppercase;
  &.page-title {
    @include adjust-font-size-to(48px, 6);
    @include background(image-url("bg-page-title.png") 50% 0 no-repeat);
    color: $white;
    margin-bottom: 0;
    text-align: center;
  }
  em {
    color: $blue-lighter;
    font-style: normal;
  }
}
h2 {
  @include adjust-font-size-to(24px, 1.33333333);
  color: $blue-light;
  font-family: $condensed;
  margin-bottom: 1em;
  text-transform: uppercase;
}
.field-name-body {
  h2 {
    @include adjust-font-size-to(20px, 1.25);
    color: $blue;
    font-family: $sans-serif;
    font-weight: bold;
    text-transform: none;
  }
}
h3 {
  @include adjust-font-size-to(30px, 1.66666666);
  clear: both;
  color: $blue-light;
  font-family: $condensed;
  margin-bottom: 1em;
  text-transform: uppercase;
  a {
    @include link-colors($blue-light, $blue);
  }
}
h4 {
  @include adjust-font-size-to(21px, 1.33333333);
  color: $blue-light;
  font-weight: 300;
  margin-bottom: 1em;
}
h5 {
  @include adjust-font-size-to(15px);
  color: $blue-light;
  font-weight: bold;
  margin-bottom: 1em;
}
h6 {
  @include adjust-font-size-to(13px);
  color: $blue-light;
  font-weight: bold;
  margin-bottom: 1em;
}

h1, h2, h3, h4, h5, h6 {
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

dl, ul, ol {
  margin-bottom: 1.5em;
}
ol {
  list-style: decimal;
  margin-left: 20px;
}
ul {
  list-style: disc;
  margin-left: 20px;
}
p, li, dt, dd {
  //@include adjust-font-size-to(13px);
}
p {
  margin-bottom: 1.5em;
}
dt {
  color: $black;
  font-weight: bold;
}

blockquote {
  padding: 0 20px;
}

cite {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}
em, i {
  font-style: italic;
}
code, pre {
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;;
  color: $gray;
}
pre {
  margin-bottom: 1.5em;
  code {
    max-width: 100%;
  }
}
code {
  @include adjust-font-size-to(13px);
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

hr {
  border: none;
  border-top: 1px dashed $slate-light;
  clear: both;
  margin: 1em 0;
}

/*
li {
  li, p {
    @include adjust-font-size-to(13px, 1, 13px);
  }
  @include adjust-font-size-to(13px);
  h1 {
    @include adjust-font-size-to(48px, 3, 13px);
  }
  h2 {
    @include adjust-font-size-to(24px, 1.33333333, 13px);
  }
  h3 {
    @include adjust-font-size-to(30px, 1.66666666, 13px);
  }
  h4 {
    @include adjust-font-size-to(21px, 1.33333333, 13px);
  }
  h5 {
    @include adjust-font-size-to(15px, 1, 13px);
  }
  h6 {
    @include adjust-font-size-to(13px, 1, 13px);
  }
}
*/

//  General Styles
//----------------------------------------------------------------------------------------------------

a {
  @include link-colors($blue, $blue-dark);
  @include transition(color, .05s);
}

//  Tables
//--------------------------------------------------

table {
  border: 1px solid $blue-lightest;
  th {
    @include adjust-font-size-to(12px, 1);
    background-color: $blue-lightest;
    color: $blue-dark;
    font-weight: bold;
    padding: 3px 10px;
    vertical-align: middle;
    label {
      font-size: 1em;
      margin: 0;
    }
  }
  tr.even,
  tr.odd {
    border: none;
  }
  tr:nth-child(2n+1),
  tr.odd {
    background-color: $white;
  }
  tr:nth-child(2n),
  tr.even {
    background-color: lighten($blue-white, 3%);
  }
  td {
    padding: 3px 10px;
  }
  td.active {
    background: none;
  }
}

.tabledrag-toggle-weight {
  @include adjust-font-size-to(11px, 1);
  @include background(image-url("icons.png") 0 -540px);
  @include link-colors($slate, $slate-dark);
  @include inline-block;
  font-weight: bold;
  padding-left: 20px;
  text-decoration: none;
  &:hover {
    background-position: 0 -580px;
  }
}

//  Trainings
//--------------------------------------------------

ul.training-list {
  list-style-type: none;
  margin: 0;
  li.views-row {
    @include legacy-pie-clearfix;
    border-top: 1px dotted $slate-light;
    clear: both;
    padding: 20px 0;
  }
  h2,
  h3 {
    @include adjust-font-size-to(16px, 1.25);
    color: $blue;
    font-family: $sans-serif;
    font-weight: bold;
    margin-bottom: .5em;
    text-transform: none;
  }
  
  dl {
    float: left;
    margin: 0 0 10px 0;
    width: 100%;
  }
  .field-label,
  dt {
    @include adjust-font-size-to(11px);
    color: $slate-dark;
    float: left;
    font-weight: bold;
    width: 20%;
  }
  .field-items,
  dd {
    float: right;
    width: 75%;
  }
  .field-item {
    @include adjust-font-size-to(11px);
    display: inline;
  }
  .field-name-field-experience {
    .field-item {
      @include adjust-font-size-to(11px);
      @include inline-block;
      @include border-radius(3px);
      @include box-shadow(0 1px 1px rgba($slate-dark, .5) inset);
      background-color: $blue-light;
      color: $white;
      padding: 0 6px;
    }
  }
  
  //  Links
  
  
  .read-more {
    float: left;
    a {
      //@extend .button;
      @include background(image-url("icons.png") 100% 0 no-repeat);
      @include link-colors($blue, $blue-dark);
      font-weight: bold;
      text-decoration: none;
      float: left;
      margin-right: 10px;
      padding-right: 24px;
      text-decoration: none;
      &:hover {
        background-position: 100% -40px;
      }
    }
  }
}

h4.register-title {
  @include adjust-font-size-to(15px);
  background-color: $slate-dark;
  color: $white;
  font-weight: bold;
  margin-bottom: -1px;
  margin-top: 10px;
  padding: 6px 10px;
  position: relative;
  z-index: 10;
}

ul.training-cost {
  border: 1px solid $slate-light;
  border-bottom: 1px solid $slate;
  clear: both;
  list-style-type: none;
  margin: 0 0 10px 0;
  min-height: 40px;
  padding: 5px 15px 10px 15px;
  li {
    @include legacy-pie-clearfix;
    border-bottom: 1px dotted $slate-light;
    clear: both;
    margin: 0 0 10px 0;
    padding-top: 10px;
    position: relative;
    strong,
    a {
      background-color: $white;
      float: left;
      margin-bottom: -3px;
      padding: 0;
    }
    strong {
      @include adjust-font-size-to(13px);
      margin-right: 100px;
      padding-right: 5px;
    }
    a {
      @include adjust-font-size-to(15px);
      @include background($white image-url("icons.png") 100% 0 no-repeat);
      @include link-colors($orange, $orange-dark);
      float: right;
      font-weight: bold;
      padding-left: 5px;
      padding-right: 24px;
      position: absolute;
      right: 0;
      text-decoration: none;
      top: 10px;
      &:hover {
        background-position: 100% -40px;
      }
    }
  }
  @media screen and (max-width: 400px) {
    li {
      border: none;
    }
  }
}

ul.training-sold-out {
  @include background(image-url("banner-sold-out.png") 50% 50% no-repeat);
  li {
    visibility: hidden;
  }
  strong {
    visibility: hidden;
  }
  a {
    display: none;
    visibility: hidden;
  }
}

//--------------------------------------------------

table.training-list {
  border: none;
  width: 99%;
  tr {
    border: 1px solid $blue-lightest;
  }
  h3 {
    @include adjust-font-size-to(16px);
    font-family: $sans-serif;
    font-weight: bold;
    margin: 0 0 .5em 0;
    text-transform: none;
  }
  p {
    @include adjust-font-size-to(11px);
    margin: 0;
  }
  td {
    padding: 10px 15px;
    &.price {
      text-align: center;
      vertical-align: top;
      width: 20%;
      a {
        @include link-colors($orange, $orange-dark);
        text-decoration: none;
      }
    }
  }
}

//  Forms
//--------------------------------------------------

//  Formalize Overrides

button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
  background: #ddd url(../images/button.png) repeat-x;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(.8, #e1e1e1), color-stop(1, #fff));
  background: -moz-linear-gradient(top center, #fff 0%, #e1e1e1 80%, #fff 100%);
  border-color: #c3cbd6 #afb9c9 #95a1b6;
  color: $blue;
  &:hover {
    border-color: darken(#c3cbd6, 20%) darken(#afb9c9, 20%) darken(#95a1b6, 20%);
    color: $blue-dark;
  }
}

textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  border-color: #95a1b6 #c3cbd6 #e6e9ee;
  color: #242930;
}

//  Fieldset

fieldset {
  @extend .bottom-dash;
  .fieldset-wrapper {
    padding-top: 1px;
  }
}
html.js {
  fieldset.collapsible {
    .fieldset-legend {
      background: none;
      padding-left: 0;
      a {
        @include background(image-url("icons.png") -584px -71px no-repeat);
        padding-left: 30px;
        &:hover {
          background-position: -584px -111px;
        }
      }
      span.summary {
        display: none;
        visibility: hidden;
      }
    }
  }
  fieldset.collapsed {
    height: 2em;
    .fieldset-legend {
      a {
        background-position: -584px 9px;
        padding-left: 30px;
        &:hover {
          background-position: -584px -31px;
        }
      }
    }
  }
}

//  Legend

legend {
  @include adjust-font-size-to(30px);
  color: $blue-light;
  font-family: $condensed;
  text-transform: uppercase;
  a {
    color: $blue-light;
    &:hover {
      color: $blue-lighter;
    }
  }
}

.fieldset-description {
  @include adjust-font-size-to(12px);
  padding-top: 9px;
  color: $gray;
}

.marker,
.form-required {
  color: $orange-light;
}

//  Form Items

input {
  max-width: 98%;
}

.form-item {
  margin: 18px 0;
}

.file-widget {
  @include border-radius(6px);
  @include background-image(linear-gradient($white, $blue-white));
  @include box-shadow(0 0 20px $white inset);
  border: 1px solid $blue-lightest;
  border-bottom-color: darken($blue-lightest, 10%);
  padding: 1em 1em;
}

//  Labels

label {
  @include adjust-font-size-to(13px, 1.5);
  color: $blue-dark;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 3px;
  &:hover {
    color: $blue;
  }
  &.option {
    @include adjust-font-size-to(12px);
    color: $slate-dark;
    margin-bottom: 0;
  }
}

//  Help & Guidelines

.description,
.form-item .description,
ul.tips li {
  @include adjust-font-size-to(11px);
}
.description,
.form-item .description,
ul.tips {
  color: $gray;
  padding-top: 9px;
}

.filter-guidelines {
  padding: 0;
}

.form-wrapper {
  clear: both;
}

fieldset.filter-wrapper {
  border-bottom: none;
  padding: 0;
  position: relative;
  .form-item {
    margin: 0;
    padding: 9px 0 0 0;
  }
  label {
    @include adjust-font-size-to(11px);
  }
}

.filter-help {
  padding: 0;
  position: absolute;
  right: 0;
  top: 9px;
  a {
    @include adjust-font-size-to(11px, 1);
    display: block;
    float: right;
    overflow: hidden;
    padding-left: 0;
    text-indent: -9999px;
    width: 0;
    &:hover {
      overflow: auto;
      text-indent: 0;
      width: auto;
    }
  }
}

//  Tables

.draggable {
  a.tabledrag-handle {
    display: block;
    height: auto;
    margin: 0;
    padding: 9px 10px;
    .handle {
      display: block;
      margin: 0;
    }
  }
}

.field-multiple-table {
  .field-multiple-drag {
    padding: 0;
  }
  td {
    .form-required {
      float: left;
      padding: 0 5px 0 0;
    }
    input {
      width: 90%;
    }
  }
}

//  Actions

.form-actions {
  margin: 0;
  padding: 1em 0 0 0;
  input {
    margin-right: 10px;
  }
}

//  Tabs

.vertical-tabs {
  .form-wrapper {
    clear: none;
  }
  ul.vertical-tabs-list {
    list-style-type: none;
    margin: -1px 0px -1px -15em;
    .summary {
      @include adjust-font-size-to(12px);
      color: $gray;
    }
  }
}

//  General Classes
//--------------------------------------------------

.image-right {
  float: right;
  margin-bottom: 18px;
  margin-left: 20px;
  max-width: 50%;
}
.image-left {
  float: left;
  margin-bottom: 18px;
  margin-right: 20px;
  max-width: 50%;
}

.post-date {
  @include background(image-url("bg-wood-date.png") 0 100% no-repeat);
  display: block;
  margin-bottom: 1em;
  padding: 12px 0 13px 0;
  span {
    display: block;
  }
  .post-month,
  .post-year {
    @include adjust-font-size-to(10px);
    color: $blue-lightest;
    font-weight: bold;
    text-transform: uppercase;
  }
  .post-day {
    @include adjust-font-size-to(30px);
    color: $white;
    font-family: $condensed;
  }
}

.comment-count {
  display: block;
  a {
    @include adjust-font-size-to(14px);
    @include icon-hover(12px, -960px, 12px, -1000px);
    @include link-colors($blue-lightest, $blue);
    display: block;
    font-weight: bold;
    line-height: 26px;
    padding-bottom: 5px;
    text-decoration: none;
  }
}

//  Links
ul.links {
  list-style-type: none;
  margin-bottom: 0;
  margin-left: 0;
  li {
    @include adjust-font-size-to(10px);
    float: left;
    margin-right: 20px;
    a {
      @include link-colors($slate, $slate-dark);
      @include inline-block;
      font-weight: bold;
      text-decoration: none;
    }
    &.node-readmore {
      @include adjust-font-size-to(13px);
      margin-bottom: 18px;
      margin-right: 0;
      width: 100%;
      a {
        @include background(image-url("icons.png") 100% 0 no-repeat);
        @include link-colors($blue, $blue-dark);
        padding-right: 24px;
        &:hover {
          background-position: 100% -40px;
        }
      }
    }
    &.comment_forbidden {
      a {
        display: inline;
        vertical-align: baseline;
      }
    }
  }
}

.comment-new-comments {
  display: none;
  visibility: hidden;
}

.comment-comments {
  a {
    @include background(image-url("icons.png") 0 -80px);
    padding-left: 24px;
    &:hover {
      background-position: 0 -120px;
    }
  }
}
.comment-add {
  a {
    @include background(image-url("icons.png") 0 -160px);
    padding-left: 24px;
    &:hover {
      background-position: 0 -200px;
    }
  }
}

.tags {
  @include background(image-url("icons.png") 3px -237px no-repeat);
  float: right;
  padding-left: 15px;
  div {
    display: inline;
  }
  &:hover {
    background-position: 3px -277px;
  }
  a {
    @include adjust-font-size-to(10px);
    @include link-colors($slate, $slate-dark);
    @include border-radius(3px);
    @include inline-block;
    @include transition(all, .15s);
    background: $white;
    background: rgba($blue-lightest, 0);
    font-weight: bold;
    padding: 0 6px;
    text-decoration: none;
    &:hover {
      background-color: $blue-lightest;
    }
  }
}

.submitted {
  @include adjust-font-size-to(11px);
  color: $gray;
  .permalink {
    @include icon-hover(0, -700px, 0, -740px);
    @include hide-text;
    float: left;
    line-height: 20px;
    width: 20px;
  }
}

.item-list {
  ul.pager {
    background-color: $white;
    padding: 18px 20px;
    text-align: left;
    a {
      font-weight: bold;
      text-decoration: none;
    }
    li.pager-item {
      @include inline-block;
      margin: 0 .25em;
      padding: 0;
      a {
        border: 1px solid $white;
        padding: .25em .5em;
        &:hover {
          @include border-radius(3px);
          @include background-image(linear-gradient($white, lighten($blue-white, 1%)));
          @include box-shadow(0 0 5px $white inset);
          border-color: $blue-light;
          margin: 0;
          padding: .25em .5em;
        }
      }
    }
    .pager-current {
      @include border-radius(3px);
      @include background-image(linear-gradient($orange, $orange-dark));
      @include box-shadow(0 1px 1px $orange-dark inset);
      border: 1px solid $orange-dark;
      color: $white;
      margin: 0 .25em;
      padding: .25em .5em;
      /*
      @include border-radius(3px);
      @include background-image(linear-gradient($white, lighten($blue-white, 1%)));
      @include box-shadow(0 0 20px $white inset);
      border: 1px solid $blue-lightest;
      border-bottom-color: darken($blue-lightest, 10%);
      margin: 0;
      padding: .25em .5em;
      */
    }
    .pager-next,
    .pager-previous,
    .pager-first,
    .pager-last {
      margin: 0;
      padding: 0;
      a {
        @include border-radius(3px);
        @include background-image(linear-gradient($white, lighten($blue-white, 1%)));
        @include box-shadow(0 0 5px $white inset);
        border: 1px solid $blue-lightest;
        border-bottom-color: darken($blue-lightest, 10%);
        margin: 0;
        padding: .25em 1em;
        &:hover {
          border-color: $blue-light;
          text-decoration: none;
        }
      }
    }
  }
}

//  Layout
//--------------------------------------------------

body {
  @include background($blue-dark image-url("bg.jpg") 50% 0);
  padding-bottom: 40px;
}

.container {
  @include legacy-pie-clearfix;
  clear: both;
  margin: 0 auto;
  position: relative;
  width: 940px;
  @media screen and (max-width: 958px) {
    width: 100%;
  }
}

#content-wrapper,
#sidebar-first,
#footer {
  margin: 0;
  @media screen and (max-width: 958px) {
    margin: 0 .5em 1em;
  }
}

#content {
  @include legacy-pie-clearfix;
  clear: both;
  padding: 36px 40px;
  margin-bottom: 1em;
  @media screen and (max-width: 958px) {
    padding: 18px 20px;
  }
}

.one-sidebar #content-wrapper {
  @include legacy-pie-clearfix;
  float: left;
  width: 620px;
}

#sidebar-first {
  float: right;
  width: 300px;
  @media screen and (max-width: 958px) {
    clear: both;
    float: none;
    width: auto;
  }
}

.one-sidebar #content-wrapper,
#content-wrapper {
  @media screen and (max-width: 958px) {
    clear: both;
    float: none;
    width: auto;
  }
}

//  Background

#wrapper {
  position: relative;
  z-index: 0;
}

#bg-mountains {
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: -10;
  @media screen and (max-width: 958px) {
    width: auto;
  }
}

#drupalorg-site-status {
  background: $orange-light;
  @include adjust-font-size-to(14px);
  @include background($orange linear-gradient($orange-light, $orange));
  @include text-shadow(0 1px 0 darken($orange-dark, 20%));
  border-bottom: 1px solid $orange-light;
  color: $white;
  font-weight: bold;
  padding: 1em 0;
  position: relative;
  text-align: center;
  z-index: 20;
  p {
    margin-bottom: 0;
  }
  a {
    @include border-radius(3px);
    @include link-colors($white, $white);
    margin-left: -5px;
    margin-right: -5px;
    padding: 0 5px;
    text-decoration: underline;
    &:hover {
      background-color: rgba($orange-dark, .75);
    }
  }
}

/*----------------------------------------------------------------------------------------------------

  REGIONS

----------------------------------------------------------------------------------------------------*/

//  Utility
//--------------------------------------------------

#utility {
  background-color: $black;
  @media screen and (max-width: 480px) {
    .container {
      height: 48px;
    }
  }
  ul {
    list-style-type: none;
    margin-bottom: 0;
    margin-left: 0;
  }
  li {
    font-size: 11px;
    font-weight: bold;
    line-height: 30px;
    @media screen and (max-width: 480px) {
      line-height: 18px;
    }
  }
  a {
    @include link-colors($blue-lighter, $white);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
    &.active {
      color: $white;
    }
  }
}

#block-menu-menu-secondary-navigation {
  display: inline;
  float: left;
  margin-left: 20px;
  li {
    float: left;
    margin-right: 20px;
  }
  @media screen and (max-width: 480px) {
    margin-left: 0;
    li {
      margin-right: 0;
      padding: 0 .5em;
    }
  }
}

#block-system-user-menu {
  float: left;
  position: absolute;
  right: 170px;
  li {
    display: inline;
    float: left;
    margin-left: 20px;
    @media screen and (max-width: 480px) {
      margin-left: 0;
      padding: 0 .5em;
    }
  }
  @media screen and (max-width: 480px) {
    float: right;
    position: relative;
    right: auto;
  }
}

#block-search-form {
  float: right;
  padding-top: 4px;
  .form-item {
    margin: 0;
  }
  input.form-text {
    @include adjust-font-size-to(12px);
    @include border-radius(11px);
    @include icon(5px, -460px);
    background-color: $white;
    border: none;
    color: $gray;
    display: block;
    float: right;
    padding-left: 24px;
    padding-right: 10px;
    width: 120px;
    &:focus {
      @include icon(5px, -500px);
      background-color: $white;
      color: $gray-dark;
    }
  }
  .form-actions {
    display: none;
    visibility: hidden;
  }
  @media screen and (max-width: 480px) {
    float: none;
    position: absolute;
    bottom: 5px;
    width: 100%;
    form {
      margin-left: 2%;
      width: 96%;
    }
    .form-item {
      display: block;
      width: 100%;
    }
    input.form-text {
      float: none;
      display: block;
      max-width: 100%;
      padding-left: 0;
      padding-right: 0;
      text-indent: 24px;
      width: 100%;
    }
  }
}

//  Tickest & Registration
//--------------------------------------------------

#navigation {
  #block-block-19 {
    float: left;
  }
  a.tickets {
    @include adjust-font-size-to(20px, 3);
    @include background(image-url("icon-tickets.png") 0 15px no-repeat);
    @include link-colors($blue-lightest, $white);
    @include text-shadow(0 0 0 rgba($blue-lighter, 0));
    @include transition-property("background-position, color, text-shadow");
    @include transition-duration(.25s);
    bottom: 0;
    float: left;
    font-family: $condensed;
    line-height: 60px;
    padding-left: 70px;
    position: absolute;
    right: 0;
    text-decoration: none;
    text-transform: uppercase;
    &:hover {
      @include text-shadow(0 0 20px rgba($blue-lighter, .75));
      background-position: 0 5px;
    }
  }
  @media screen and (max-width: 958px) {
    a.tickets {
      left: 50%;
      margin-left: -70px;
      right: auto;
      line-height: 40px;
      width: 140px;
    }
  }
  @media screen and (max-width: 750px) {
    a.tickets {
      left: 50%;
      margin-left: -70px;
      right: auto;
      line-height: 40px;
      width: 140px;
    }
  }
}

//  Navigation
//--------------------------------------------------

#navigation {
  background: #051733;
  background: rgba(0,0,0,.4);
  ul.menu {
    float: left;
    list-style-type: none;
    margin-bottom: 0;
    margin-left: 0;
    a {
      @include adjust-font-size-to(28px, 3);
      @include link-colors($white, $blue-lighter);
      @include transition(all, .15s);
      float: left;
      font-family: $condensed;
      font-weight: normal;
      line-height: 60px;
      padding: 0 20px;
      text-decoration: none;
      text-transform: uppercase;
      &.active-trail {
        color: $blue-lighter;
      }
    }
    li.first a {
      //padding-left: 0;
    }
    li {
      float: left;
      position: relative;
      a:hover {
        background-color: $blue;
        color: $white;
        &.active-trail {
          color: $white;
        }
      }
      ul {
        @include border-bottom-radius(3px);
        @include box-shadow(0 3px 2px rgba($black, .25));
        background-color: $blue;
        display: none;
        //display: block;
        float: none;
        left: 0;
        padding: 10px;
        position: absolute;
        top: 100%;
        visibility: hidden;
        //visibility: visible;
        width: 200px;
        z-index: 1000;
        li {
          display: block;
          float: none;
          a {
            @include adjust-font-size-to(13px);
            @include border-radius(2px);
            @include link-colors($white, $blue-white);
            background-color: $blue;
            display: block;
            float: none;
            font-family: $sans-serif;
            font-weight: bold;
            padding: 5px 10px;
            text-transform: none;
            &:hover {
              @include box-shadow(0 1px 3px rgba($blue-darker, .75) inset);
              background-color: $blue-dark;
            }
            &.active {
              color: $blue-lighter;
            }
          }
        }
      }
      &:hover {
        a {
          background-color: $blue;
          color: $white;
          &.active-trail {
            color: $white;
          }
        }
        ul {
          display: block;
          visibility: visible;
        }
      }
    }
    @media screen and (max-width: 958px) {
      padding: 0 0 40px 0;
      text-align: center;
      width: 100%;
      li {
        display: inline;
        float: none;
        a {
          display: inline;
          float: none;
          padding: 0 10px;
        }
        &.first {
          a {
            padding-left: 10px;
          }
        }
      }
    }
    @media screen and (max-width: 520px) {
      padding: 0 0 40px 0;
      li {
        float: left;
        text-align: center;
        width: 50%;
        a {
          @include adjust-font-size-to(30px, 2.5);
          display: block;
          float: none;
          padding: 0 9px;
        }
        &.first > a {
          padding: 0 9px;
        }
        &.first ul,
        ul {
          width: 100%;
          padding: 5px 0;
          li {
            padding: 0 5px;
            width: auto;
            a {
              padding: 5px 10px;
              text-align: left;
            }
          }
        }
      }
    }
  }
}

//  Header
//--------------------------------------------------

#header {
  margin-bottom: 24px;
  @media screen and (max-width: 958px) {
    margin-bottom: 12px;
  }
  @media screen and (min-width: 958px) {
    #logo {
      /*
      &:after {
        @include replace-text-with-dimensions("coloradoConventionCenter.png");
        content:"test";
        float: left;
        right: 110px;
        margin-left: -45px;
        position: absolute;
        top: 50px;
      }
      */
      &:before {
        @include replace-text-with-dimensions("drop.png");
        content:" ";
        float: left;
        left: 110px;
        margin-left: -41px;
        position: absolute;
        top: 44px;
      }
    }
  }
}

#logo {
  height: 192px;
  margin-bottom: 0;
  position: relative;
  width: 100%;
  a {
    @include replace-text("logo.png", 50%, 50%);
    display: block;
    height: 192px;
    @include transition;
    &:hover {
      @include opacity(.8);
    }
  }
  @media screen and (max-width: 450px) {
    height: 126px;
    a {
      @include replace-text("logo-sm.png", 50%, 50%);
      height: 126px;
    }
  }
}

#theme {
  @include background(image-url("bg-theme.png") 50% 0 no-repeat);
  @include hide-text;
  height: 54px;
  margin-bottom: 0;
  width: 100%;
  @media screen and (max-width: 958px) {
    //margin-bottom: 12px;
  }
  @media screen and (max-width: 450px) {
    @include background(image-url("bg-theme-sm.png") 50% 0 no-repeat);
    height: 36px;
    //margin-bottom: 12px;
  }
}

//  Diamond Sponsor

#header {
  .block-google-admanager {
    @include background(image-url("bg-diamond-sponsors.png") 50% 100% no-repeat);
    top: 0;
    float: left;
    position: absolute;
    right: 0;
    h2.block-title {
      //@include adjust-font-size-to(12px);
      //font-family: $sans-serif;
      //font-weight: bold;
      margin-bottom: .5em;
      padding-top: 12px;
      text-align: center;
    }
    .gam-holder {
      //@include border-radius;
      //@include box-shadow(0 -5px 5px $blue-white inset, 0 1px 3px rgba($black, .25));
      //background-color: $white;
      //padding: 10px 15px;
    }
  }
}

#gam-content-denver-diamond {
  width: 210px;
  overflow: hidden;
}

#google_ads_div_denver-diamond_ad_container {
  width: 210px;
  .item-list {
    width: 210px;
    ul {
      float: left;
      list-style-type: none;
      margin: 0;
      padding-bottom: 40px;
      li {
        clear: left;
        float: left;
        margin: 0;
        width: 210px;
        div, span {
          float: left;
          width: 100%;
        }
        a {
          display: block;
          line-height: 80px;
          text-align: center;
          &:hover {
            img {
              @include opacity(.8);
            }
          }
        }
        img {
          @include transition(all, .15s);
          display: block;
          display:inline;
          display:inline-table;
          display:inline-block;
          vertical-align:middle;
          margin: 0 auto;
          max-height: 80px;
          max-width: 80%;
        }
      }
    }
  }
}

@media screen and (max-width: 958px) {
  #header {
    .block-google-admanager {
      background: none;
      top: auto;
      clear: both;
      float: none;
      margin-bottom: 12px;
      position: static;
      right: auto;
      h2.block-title {
        @include background(image-url("bg-diamond-sponsors.png") 50% 0 no-repeat);
        margin-bottom: 0;
        padding: 30px 0 0 0;
      }
    }
  }
  #google_ads_div_denver-diamond_ad_container {
    .item-list ul {
      @include background(image-url("bg-diamond-sponsors.png") 50% 100% no-repeat);
    }
  }
}

//  Highlighted
//--------------------------------------------------

#highlighted {
  color: $blue-lightest;
  ul.list {
    @include background($blue image-url("bg-highlighted.jpg") 0 0 no-repeat);
    height: 360px;
    list-style-type: none;
    margin-left: 0;
    overflow: hidden;
    position: relative;
    width: 100%;
    @media screen and (max-width: 1020px) {
      margin-bottom: 60px;
    }
    @media screen and (max-width: 620px) {
      background-position: 50% 0;
      overflow: auto;
    }
    li.list-item {
      display: none;
      font-size: 1em;
      left: 0;
      padding: 36px 40px;
      position: absolute;
      top: 0;
      visibility: hidden;
      width: 860px;
      @media screen and (max-width: 958px) {
        width: auto;
      }
    }
    li.views-row-first {
      display: block;
      visibility: visible;
    }
  }
  
  a {
    @include link-colors($white, $blue-white);
  }
  p {
    @include adjust-font-size-to(13px, 1);
    a.button {
      @extend .button;
    }
    a.button-large {
      @extend .button-large;
    }
    a.submit {
      @extend .submit;
    }
    a.submit-large {
      @extend .submit-large;
    }
  }
  h2 {
    @include adjust-font-size-to(48px, 3);
    color: $white;
    margin: 0 50% 0 0;
  }
  h3 {
    @include adjust-font-size-to(48px, 3);
    color: $blue-lightest;
    margin: 0 0 .25em 0;
  }
  .carousel-body {
    margin-right: 50%;
  }
  .carousel-image {
    left: 55%;
    position: absolute;
    top: 0;
  }
  @media screen and (max-width: 958px) {
    h2, h3 {
      @include adjust-font-size-to(36px, 2);
    }
  }
  @media screen and (max-width: 620px) {
    h2,
    .carousel-body {
      margin-right: 0;
    }
    .carousel-image {
      display: none;
      visibility: hidden;
    }
  }
}

.slideshow-wrapper {
  position: relative;
  a.slide-next,
  a.slide-previous {
    @include hide-text;
    height: 40px;
    margin-top: -20px;
    position: absolute;
    top: 50%;
    width: 40px;
    z-index: 2000;
  }
  a.slide-previous {
    @include background(image-url("highlighted-arrows.png") 0 0 no-repeat);
    left: -50px;
    &:hover {
      background-position: 0 -40px;
    }
  }
  a.slide-next {
    @include background(image-url("highlighted-arrows.png") 100% 0 no-repeat);
    right: -50px;
    &:hover {
      background-position: 100% -40px;
    }
  }
  @media screen and (max-width: 1020px) {
    a.slide-previous {
      bottom: -50px;
      left: 50%;
      margin-left: -45px;
      top: auto;
    }
    a.slide-next {
      bottom: -50px;
      right: 50%;
      margin-right: -45px;
      top: auto;
    }
  }
}

//  Main Content
//--------------------------------------------------

#content {
  @include background($white image-url("bg-blue-fade.png") 0 100% repeat-x);
}

#block-system-main {
  clear: both;
}

.page-node-add {
  .form-item-title {
    margin-top: 0;
    label {
      @include adjust-font-size-to(15px);
    }
    input {
      @include adjust-font-size-to(20px);
      height: 2em;
      padding: 4px 6px;
      width: 98%;
    }
  }
  .field-name-field-session-qa {
    @extend .bottom-dash;
  }
  .field-name-field-speakers {
    width: 100%;
    select {
      width: 90%;
    }
  }
}

/*
.page-node-add {
  #block-system-main {
    padding: 18px 20px;
    .form-item {
      clear: both;
    }
    .form-type-managed-file,
    .form-type-radios,
    .form-type-checkboxes,
    .form-type-textfield,
    .form-type-textarea {
      float: left;
      width: 100%;
    }
    .form-type-textfield,
    .form-type-textarea {
      label {
        float: left;
        margin-right: 20px;
        width: 160px;
      }
      input {
        float: left;
      }
    }
    .file-widget,
    .form-checkboxes,
    .form-radios,
    .form-textarea-wrapper {
      float: left;
    }
    .description {
      clear: both;
      margin-left: 180px;
    }
    .form-type-checkboxes,
    .form-type-radios {
      .form-item {
        margin: 0;
      }
    }
    .field-type-user-reference {
      margin-left: 180px;
      label {
        float: left;
        margin: auto;
        width: auto;
      }
      input {
        float: none;
      }
      .description {
        margin-left: 0;
        padding-bottom: 9px;
      }
    }
    .filter-guidelines {
      margin-left: 180px;
    }
    .vertical-tabs {
      .form-wrapper {
        clear: none;
      }
      .form-type-managed-file,
      .form-type-radios,
      .form-type-checkboxes,
      .form-type-textfield,
      .form-type-textarea {
        float: none;
      }
      .file-widget,
      .form-checkboxes,
      .form-radios,
      .form-textarea-wrapper {
        float: none;
      }
      .form-item {
        clear: none;
        float: none;
        label {
          float: none;
          margin-right: 0;
          width: auto;
        }
        input {
          float: none;
        }
        .description {
          clear: none;
          margin-left: 0;
        }
      }
    }
  }
}
*/

//  News

.front,
.page-news,
.section-tags,
.section-taxonomy,
.node-type-news {
  #content {
    //@include background($brown image-url("bg-wood.jpg") 0 0 no-repeat);
    background: none;
    padding: 0;
    h2.block-title {
      display: none;
      visibility: hidden;
    }
    ul.list {
      list-style-type: none;
      margin-bottom: 0;
      margin-left: 0;
    }
    li.list-item {
      float: left;
      font-size: 1em;
      width: 100%;
      p, li {
        @include adjust-font-size-to(13px, 1);
      }
      ul.links li {
        @include adjust-font-size-to(10px, 1);
      }
    }
    .more-link {
      background-color: $white;
      clear: both;
      padding: 18px 20px;
      a {
        @include adjust-font-size-to(12px, 1.3333333);//, 13px);
        @extend .submit;
      }
    }
  }
}
.section-taxonomy,
.section-tags {
  #content h1 {
    background-color: $blue;
    border-bottom: 1px solid $blue-dark;
    color: $white;
    margin: 0;
    padding: .5em 0;
    text-align: center;
  }
}
.section-node-edit {
  #content {
    background: $white;
    padding: 18px 20px;
    @media screen and (max-width: 958px) {
      padding: 36px 40px;
    }
  }
}

.node-news {
  @include background($brown image-url("bg-wood.jpg") 0 0 no-repeat);
  clear: both;
  float: left;
  width: 100%;
  position: relative;
  .meta {
    float: left;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 60px;
  }
  .news-content {
    @include background($white image-url("bg-blue-fade.png") 0 100% repeat-x);
    @include legacy-pie-clearfix;
    border-bottom: 1px solid $slate-light;
    margin-left: 60px;
    padding: 36px 40px;
    @media screen and (max-width: 958px) {
      padding: 18px 20px;
    }
  }
}
.page-comment-reply {
  #content {
    padding-bottom: 0;
  }
  .form-actions {
    padding-bottom: 2em;
  }
  .node-news {
    border-top: 1px solid $slate-light;
    margin-left: -40px;
    margin-right: -40px;
    @media screen and (max-width: 958px) {
      margin-bottom: -18px;
      margin-left: -20px;
      margin-right: -20px;
    }
  }
}
.comment-preview {
  background-color: transparent;
}


//  Venue
//--------------------------------------------------

.section-venue {
  #content-wrapper {
    float: none;
    width: 100%;
    @media screen and (max-width: 958px) {
      width: auto;
    }
  }
  #sidebar-first {
    float: none;
    width: 100%;
    @media screen and (max-width: 958px) {
      width: auto;
    }
  }
  #content {
    @include background($blue image-url("bg-venue.jpg") 90% -100px no-repeat);
    color: $blue-lightest;
    padding-top: 240px;
    a {
      color: $white;
    }
    @media screen and (min-width: 958px) {
      @include background($blue image-url("bg-venue.jpg") 50% 0 no-repeat);
      padding-right: 50%;
    }
    h1 {
      @include adjust-font-size-to(60px, 3);
      @include text-shadow(0 1px 0 rgba($black, .5));
      color: $white;
      padding-right: 20%;
    }
    p {
      @include text-shadow(0 1px 0 rgba($black, .5));
      @include adjust-font-size-to(15px);
    }
  }
}

//  Speaker FAQ
//--------------------------------------------------

.section-speaker-faq {
  #content h3 {
    @include adjust-font-size-to(18px, 1.25);
    border-top: 1px dashed $slate-light;
    font-family: $sans-serif;
    font-weight: bold;
    margin-top: 1em;
    padding-top: 1em;
    text-transform: none;
    a {
      color: $blue-light;
      cursor: text;
      text-decoration: none;
    }
  }
}

ul.questions {
  list-style-type: none;
  margin-left: 0;
  //border-top: 1px dashed $slate-light;
  li {
    //border-bottom: 1px dashed $slate-light;
    padding: 1em 0;
    a {
      @include icon-hover(0, -620px, 0, -660px);
      display: block;
      font-weight: bold;
      padding-left: 24px;
      text-decoration: none;
    }
  }
}

//  Contact
//--------------------------------------------------

.contact-form {
  .form-item {
    clear: both;
    float: left;
    margin-top: 0;
    width: 100%;
  }
  label {
    float: left;
    margin-right: 20px;
    width: 160px;
  }
  .form-textarea-wrapper {
    float: left;
  }
  .form-type-checkbox {
    margin-left: 180px;
    label {
      float: none;
      margin-right: 0;
      width: auto;
    }
  }
  .form-actions {
    margin-left: 180px;
    padding-top: 0;
  }
  @media screen and (max-width: 958px) {
    .form-text {
      max-width: 98%;
    }
    label {
      float: none;
      margin-right: 0;
      width: auto;
    }
    .form-textarea-wrapper {
      float: none;
    }
    .form-type-checkbox {
      margin-left: 0;
    }
    .form-actions {
      margin-left: 0;
    }
  }
}

//  Sessions
//--------------------------------------------------

.sticky-header {
  z-index: 100;
}

#field-session-qa-values {
  width: 99%;
  .form-type-textarea {
    padding-left: 20px;
    position: relative;
  }
  td div label {
    position: absolute;
    left: 5px;
    top: 0;
  }
}

.page-program-sessions,
.page-program-sessions-featured,
.page-program-sessions-review,
.page-program-sessions-proposed {
  #content-wrapper,
  #sidebar-first {
    float: none;
    width: 100%;
    @media screen and (max-width: 958px) {
      width: auto;
    }
  }
  #content {
    background: none;
    padding: 0;
    h1 {
      @include adjust-font-size-to(48px, 6);
      @include background(image-url("bg-page-title.png") 50% 0 no-repeat);
      color: $white;
      margin-bottom: 0;
      text-align: center;
    }
  }
  
  #block-system-main {
    background-color: $white;
    //padding: 18px 20px;
    .view-header {
      padding: 18px 20px 8px 20px;
      p {
        margin-bottom: 10px;
      }
    }
  }
  
  
  
  #content {
    form {
      background-color: $white;
      float: left;
      padding: 9px 0;
      width: 100%;
      .views-exposed-form {
        padding: 0 20px;
      }
      label,
      .form-item,
      .form-submit {
        float: left;
        margin: 0;
      }
      label {
        margin-right: 10px;
      }
      .form-item {
        height: 30px;
        margin-right: 20px;
      }
      @media screen and (max-width: 480px) {
        .views-exposed-widget {
          clear: both;
        }
      }
    }
  }
  
  p.empty {
    @include adjust-font-size-to(14px);
    border-top: 1px solid $slate-light;
    clear: both;
    display: block;
    font-weight: bold;
    padding: 36px 40px;
    text-align: center;
  }
  
  .views-table {
    clear: both;
    border: none;
    width: 100%;
    caption {
      @include adjust-font-size-to(13px);
      background-color: $blue-dark;
      border-left: 1px solid $blue;
      border-right: 1px solid $blue;
      color: $white;
      font-weight: bold;
      padding: 20px 20px;
    }
    th {
      @include adjust-font-size-to(30px);
      background: $orange;
      @include background($orange-dark linear-gradient($orange, $orange-dark));
      border-top: 1px solid darken($orange-dark, 10%);
      font-family: $condensed;
      font-weight: normal;
      padding: 15px 20px;
      text-transform: uppercase;
      a {
        @include link-colors($white, $blue-lightest);
        text-decoration: none;
        vertical-align: middle;
        img {
          @include inline-block;
          margin-left: 5px;
        }
      }
      &.views-field-field-experience,
      &.views-field-field-track {
        text-align: center;
      }
    }
    tbody {
      tr {
        border-bottom: 1px solid $blue-lightest;
      }
    }
    
    td {
      padding: 15px 20px;
      vertical-align: top;
    }
    td.views-field-field-experience,
    td.views-field-field-track {
      @include adjust-font-size-to(11px);
      border-left: 1px solid $blue-white;
      padding: 15px;
      text-align: center;
      width: 180px;
      strong {
        @include inline-block;
        @include border-radius(3px);
        @include box-shadow(0 1px 1px rgba($slate-dark, .5) inset);
        background-color: $blue-light;
        color: $white;
        padding: 0 6px;
      }
    }
    
    td.views-field-field-experience {
      strong {
        background-color: $slate;
      }
    }
    
    td.session-title {
      h3 {
        @include adjust-font-size-to(16px);
        font-family: $sans-serif;
        font-weight: bold;
        margin-bottom: 0;
        text-transform: none;
        a {
          @include link-colors($blue, $blue-dark);
        }
      }
      p {
        margin-bottom: 0;
        margin-top: 1em;
      }
      span {
        @include adjust-font-size-to(11px);
        @include icon(0, -400px);
        display: block;
        padding-left: 20px;
        a {
          @include link-colors($slate, $slate-dark);
          @include hover-link;
        }
      }
    }
    @media screen and (max-width: 480px) {
      td.views-field-field-experience,
      td.views-field-field-track,
      th.views-field-field-experience,
      th.views-field-field-track {
        display: none;
        visibility: hidden;
      }
    }
  }
}

.page-program-sessions-review {
  .views-table {
    caption {
      padding: 20px 10px;
    }
    th {
      @include adjust-font-size-to(13px);
      background: $orange;
      @include background($orange-dark linear-gradient($orange, $orange-dark));
      border-top: 1px solid darken($orange-dark, 10%);
      color: $white;
      font-family: $sans-serif;
      font-weight: bold;
      padding: 5px 10px;
      text-transform: none;
    }
    
    td {
      padding: 5px 10px;
      @include adjust-font-size-to(11px);
    }
    td.views-field-title {
      font-weight: bold;
    }
  }
}

//  Session
//--------------------------------------------------

@mixin session-section {
  border-top: 1px dashed $slate-light;
  clear: both;
  padding-top: 1em;  
}
@mixin session-section-label {
  @include adjust-font-size-to(12px);
  color: $blue;
  font-weight: bold;
  margin-bottom: 18px;
}

.node-type-training,
.node-type-session {
  .field {
    @include session-section;
  }
  .field-label {
    @include session-section-label;
  }
  .view-session-attach {
    @include session-section;
    .view-header {
      float: left;
      width: 30%;
      p {
        @include session-section-label;
        line-height: 40px;
        margin-bottom: 0;
      }
    }
    .view-content {
      float: left;
      width: 60%;
    }
    ul.list {
      list-style-type: none;
      margin-left: 0;
    }
    li.list-item {
      float: left;
      line-height: 40px;
      margin-bottom: 18px;
      width: 45%;
      a {
        @include hover-link;
        float: left;
        font-weight: bold;
      }
      .user-picture a {
        float: left;
        padding-right: 10px;
        img {
          float: left;
        }
      }
    }
  }
  .field-name-field-track,
  .field-name-field-experience {
    .field-label {
      float: left;
      width: 30%;
    }
    .field-item {
      @include adjust-font-size-to(11px);
      @include inline-block;
      @include border-radius(3px);
      @include box-shadow(0 1px 1px rgba($slate-dark, .5) inset);
      background-color: $blue-light;
      color: $white;
      padding: 0 6px;
    }
  }
  .field-name-field-experience {
    .field-item {
      background-color: $slate;
    }
  }
  .field-name-field-featured,
  .field-name-field-recorded,
  .field-name-field-session-speaker-example,
  .field-name-field-session-qa {
    .field-label {
      margin-bottom: .5em;
    }
    .field-items {
      margin-bottom: 1em;
    }
    .field-item {
      @include adjust-font-size-to(12px);
    }
  }
  .field-name-field-speakers,
  .field-name-field-training-company,
  .field-name-field-featured,
  .field-name-field-recorded,
  .field-name-field-slides,
  .field-name-field-session-speaker-exp {
    .field-label {
      float: left;
      width: 30%;
    }
    .field-item {
      @include adjust-font-size-to(12px);
    }
  }
  .field-name-field-speakers {
    .field-item {
      display: inline;
      margin-right: 5px;
    }
  }
}

.rate-widget {
  @include border-radius;
  background-color: $blue-lightest;
  padding: 5px 10px;
  h2 {
    color: $blue;
    line-height: 1.5em;
    margin-bottom: 5px;
    padding: 0 10px;
    text-align: center;
  }
  .item-list {
    ul {
      margin: 0;
      li {
        background-color: $white;
        display: block;
        float: none;
        margin: 0 0 1px 0;
        padding: 5px;
        a.rate-emotion-btn {
          @include border-radius(3px);
          background: none;
          border: none;
          color: $blue !important;
          float: none;
          margin: 0;
          padding: 5px 10px;
          text-decoration: none;
          &:hover {
            background-color: $blue-white;
            color: $blue-dark !important;
            text-decoration: underline;
          }
        }
        &.first {
          @include border-top-radius(3px);
        }
        &.last {
          @include border-bottom-radius(3px);
        }
      }
    }
  }
  .rate-info {
    @include adjust-font-size-to(15px);
    color: $blue;
    font-weight: bold;
    padding: 15px 10px 10px;
    text-align: center;
  }
  .rate-description {
    padding: 10px 10px 5px;
    text-align: center;
  }
}

//  About
//--------------------------------------------------

ul.themes {
  list-style-type: none;
  margin-left: 0;
  li {
    border-top: 1px dashed $slate-light;
    padding-top: 1em;
  }
}

//  Search
//--------------------------------------------------

.search-form {
  @include border-radius(6px);
  @include background-image(linear-gradient($white, lighten($blue-white, 1%)));
  @include box-shadow(0 0 20px $white inset);
  border: 1px solid $blue-lightest;
  border-bottom-color: darken($blue-lightest, 10%);
  margin-bottom: 36px;
  padding: 18px 20px;
  #edit-basic {
    margin-bottom: 1em;
  }
  fieldset.collapsible {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

ol.search-results {
  margin-left: 0;
  li.search-result {
    border-top: 1px dashed $slate-light;
    margin-bottom: 0;
    padding: 18px 20px;
  }
  .search-snippet-info {
    
  }
  h3.title {
    @include adjust-font-size-to(15px, 1);//, 13px);
    font-family: $sans-serif;
    font-weight: bold;
    margin-bottom: 1em;
    text-transform: none;
  }
  .search-snippet {
    strong {
      background-color: $blue-white;
      padding: 0 2px;
    }
  }
  .search-info {
    @include adjust-font-size-to(11px, 1);//, 13px);
    margin-bottom: 0;
  }
}

//  User
//--------------------------------------------------

.section-user.not-logged-in {
  #content {
    h1 {
      display: none;
      visibility: hidden;
    }
  }
}

.profile {
  position: relative;
  .user-picture {
    position: absolute;
    right: 0;
    top: 0;
  }
}

//  Comments
//--------------------------------------------------

//  Titles

#comments {
  clear: both;
  margin: 0;
  padding-top: 2em;
  h2.title {
    border-top: 1px dashed $slate-light;
    clear: both;
    padding-top: 1em;
  }
}

div.comment {
  @include legacy-pie-clearfix;
  margin-bottom: 18px;
  position: relative;
  .content {
    @include border-radius(6px);
    @include background-image(linear-gradient($white, lighten($blue-white, 1%)));
    @include box-shadow(0 0 20px $white inset);
    border: 1px solid $blue-lightest;
    border-bottom-color: darken($blue-lightest, 10%);
    margin-bottom: 9px;
    padding: 18px 20px 9px 20px;
    h3 {
      @include adjust-font-size-to(15px);
      font-family: $sans-serif;
      font-weight: bold;
      text-transform: none;
    }
    p {
      @include adjust-font-size-to(12px);
    }
  }
  .new {
    @include adjust-font-size-to(10px);
    @include icon(0, -920px);
    color: $white;
    font-weight: bold;
    line-height: 30px;
    position: absolute;
    right: -10px;
    text-align: center;
    text-transform: uppercase;
    top: -15px;
    width: 30px;
  }
  .submitted {
    @include background(image-url("bg-comment-submitted.png") 18px 0 no-repeat);
    float: left;
    margin-top: -10px;
    padding-top: 10px;
    padding-left: 40px;
    .permalink {
      @include opacity(.25);
      position: absolute;
      left: -20px;
      top: 0;
      @media screen and (max-width: 958px) {
        position: relative;
        left: auto;
        top: auto;
      }
    }
  }
  ul.links {
    @include opacity(.25);
    float: right;
    li {
      margin-left: 20px;
      margin-right: 0;
    }
  }
  &:hover {
    ul.links,
    .submitted .permalink {
      @include opacity(1);
    }
  }
}

//  Sponsors
//--------------------------------------------------

#block-google-admanager-70c440c1698a7bde805ce5bd4e7dc31c {
  width: 100%;
}

#google_ads_div_denver-sponors-page_ad_container {
  .view {
    width: 540px;
    @media screen and (max-width: 958px) {
      margin: 0;
      width: 94%;
    }
  }
  .item-list {
    h2 {
      @include adjust-font-size-to(30px, 2);
      background-color: $blue-white;
      border-top: 1px solid $blue-lighter;
      clear: both;
      margin-top: 1em;
      padding-bottom: .25em;
      padding-top: .25em;
      text-align: center;
    }
    ul {
      float: left;
      list-style-type: none;
      margin: 0;
      width: 100%;
      li {
        @include transition(all, .15s);
        float: left;
        margin: 0 0 1em 0;
        text-align: center;
        height: 110px;
        width: 25%;
        a {
          display: block;
          line-height: 100px;
          text-align: center;
          &:hover {
            img {
              @include opacity(.6);
            }
          }
        }
        strong {
          font-family: $condensed;
          font-weight: normal;
          @include adjust-font-size-to(24px, 1.5);//, 13px);
          a {
            line-height: 1em;
            margin-bottom: .25em;
          }
        }
      }
    }
    img {
      @include transition(all, .15s);
      display: block;
      display:inline;
      display:inline-table;
      display:inline-block;
      vertical-align:middle;
      margin: 0 auto;
      max-height: 100px;
      max-width: 80%;
    }
  }
  .diamond ul li {
    width: 50%;
  }
  .platinum ul li {
    width: 33%;
  }
  @media screen and (max-width: 958px) {
    .item-list ul li {
      width: 33%;
    }
    .diamond ul li {
      width: 100%;
    }
    .platinum ul li {
      width: 50%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .item-list ul li {
      width: 50%;
      height: 65px;
      a {
        line-height: 60px;
      }
      strong a {
        line-height: 1em;
      }
      img {
        max-height: 60px;
        max-width: 80%;
      }
    }
    .diamond ul li {
      width: 100%;
    }
    .platinum ul li {
      width: 50%;
    }
  }
  
  @media screen and (max-width: 480px) {
    .item-list ul li {
      height: 65px;
      width: 100%;
      a {
        line-height: 60px;
      }
      strong a {
        line-height: 1em;
      }
      img {
        max-height: 60px;
      }
    }
    .diamond ul li,
    .platinum ul li {
      width: 100%;
      img {
        max-width: 100%;
      }
    }
  }
}

//  Badges
//--------------------------------------------------

/*
.section-sponsor-badges {
  #content-wrapper {
    float: none;
    width: 100%;
    @media screen and (max-width: 958px) {
      width: auto;
    }
  }
  #sidebar-first {
    float: none;
    width: 100%;
    @media screen and (max-width: 958px) {
      width: auto;
    }
  }
}
*/

ul.badges {
  border-top: 1px dotted $slate-light;
  clear: both;
  list-style-type: none;
  margin: 0;
  padding-top: 20px;
  li {
    float: left;
    margin-bottom: 20px;
    width: 100%;
  }
  img {
    @include box-shadow(0 1px 5px rgba($slate, .5), 0 1px 0 rgba($slate, .5));
    clear: left;
    float: left;
    margin-right: 10px;
  }
  code {
    @include border-radius;
    background-color: rgba($slate-light, .25);
    border: 1px solid rgba($slate-light, .5);
    display: block;
    padding: 10px 20px;
  }
}
ul.badges-small {
  code {
    margin-left: 140px;
  }
}
ul.badges-tall {
  code {
    margin-left: 180px;
  }
}
ul.badges-medium {
  code {
    margin-left: 200px;
  }
}
ul.badges-large {
  code {
    margin-left: 320px;
  }
}
@media screen and (max-width: 600px) {
  ul.badges {
    li {
      margin-bottom: 30px;
      text-align: center;
    }
    img {
      float: none;
      margin-bottom: 10px;
    }
    code {
      margin-left: 0 !important;
      text-align: left;
    }
  }
}

//  END Main Content
//--------------------------------------------------

//  Sidebar First
//--------------------------------------------------

.aside .block {
  background: $blue-darker;
  background: rgba(0,0,0,.25);
  margin-bottom: 1em;
  padding: 18px 20px;
  h2.block-title {
    border-bottom: 1px dashed $slate-dark;
    color: $white;
    margin-bottom: 18px;
    padding-bottom: 18px;
    text-align: center;
  }
  p {
    color: $blue-lighter;
  }
  a {
    @include link-colors($blue-white, $white);
  }
  a.button {
    @extend .button;
  }
  a.submit {
    @extend .submit;
  }
}

//  Subnav

#block-menu-block-2 {
  background: none;
  padding: 0;
  ul {
    @include border-radius(3px);
    @include box-shadow(0 1px 3px rgba($black, .25));
    background-color: $blue;
    float: none;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    li {
      display: block;
      a {
        @include adjust-font-size-to(13px);
        @include border-radius(2px);
        @include link-colors($white, $blue-white);
        @include transition(all, .15s);
        background-color: $blue;
        display: block;
        font-family: $sans-serif;
        font-weight: bold;
        padding: 5px 10px;
        text-decoration: none;
        text-transform: none;
        &:hover {
          @include box-shadow(0 1px 3px rgba($blue-darker, .75) inset);
          background-color: $blue-dark;
        }
        &.active-trail {
          @include box-shadow(0 1px 3px rgba($blue-darker, .75));
          background-color: $white;
          color: $blue;
        }
      }
    }
  }
}

//  Sidebar Ad

#block-google-admanager-d78f9abdcfd0f0dc49ff4c00d1c90038 {
  background-color: $white;
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
  padding: 0;
}

//  END Sidebar First
//--------------------------------------------------

//  Footer
//--------------------------------------------------

#footer {
  color: $white;
  padding-top: 6px;
  .container {
    p {
      @include adjust-font-size-to(11px);
    }
    a {
      @include link-colors($blue-white, $white);
      &.rss {
        @include link-colors($white, $white);
        position: absolute;
        right: 0;
        top: 0;
      }
    }
    #block-block-14 {
      clear: both;
      padding-right: 60px;
      position: relative;
    }
  }
}

#footer {
  .block-google-admanager {
    @include border-radius;
    @include box-shadow(0 -5px 5px $blue-white inset, 0 1px 3px rgba($black, .25));
    background: $white;
    margin-bottom: 12px;
    padding: 10px 20px;
    h2.block-title {
      float: left;
      line-height: 60px;
      @media screen and (max-width: 958px) {
        @include adjust-font-size-to(24px, 1.5);
        float: none;
        text-align: center;
      }
    }
    .gam-holder {
      margin-left: 160px;
      margin-right: 0;
      @media screen and (max-width: 958px) {
        margin: 0 auto;
      }
    }
  }
}
#gam-content-denver-platinum {
  width: 700px;
  @media screen and (max-width: 958px) {
    width: 80%;
  }
}

#google_ads_div_denver-platinum_ad_container {
  .item-list {
    width: 700px;
    ul {
      float: left;
      list-style-type: none;
      margin: 0;
      width: 100%;
      li {
        float: left;
        height: 65px;
        margin: 0;
        width: 25%;
        div, span {
          float: left;
          width: 100%;
        }
        a {
          display: block;
          line-height: 60px;
          text-align: center;
          //max-width: 150px;
          &:hover {
            img {
              @include opacity(.8);
            }
          }
        }
        img {
          @include transition(all, .15s);
          display: block;
          display:inline;
          display:inline-table;
          display:inline-block;
          vertical-align:middle;
          margin: 0 auto;
          max-height: 60px;
          max-width: 70%;
        }
      }
    }
    @media screen and (max-width: 958px) {
      width: 600px;
      ul li {
        width: 50%;
      }
    }
    @media screen and (max-width: 620px) {
      width: 300px;
      ul li {
        clear: both;
        width: 100%;
      }
    }
  }
}

a.rss {
  @include adjust-font-size-to(11px);
  @include border-radius(3px);
  @include box-shadow(0 0 5px #ec9329 inset, 0 1px 1px rgba($blue-darker, .5));
  background: #e0591a;
  @include background(#e0591a linear-gradient(#ec9329, #e0591a));
  color: $white;
  float: left;
  font-weight: bold;
  padding: 0 4px 0 0;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba($black, .25);
  span {
    display: block;
    @include icon(0, -1060px);
    padding-left: 20px;
  }
  &:hover {
    background: #ec9329;
    @include background(#ec9329 linear-gradient(#ee820f, #ec9329));
    @include box-shadow(0 0 5px #ee820f inset, 0 1px 1px $blue-darker);
  }
}

//  Important Dates
//--------------------------------------------------

#block-block-29 {
  p {
    @include adjust-font-size-to(12px, .8);
    padding-left: 14px;
  }
  time {
    @include icon(0, -320px);
    color: $orange-light;
    margin-left: -14px;
    padding-left: 14px;
  }
}

//  Subscribe Form
//--------------------------------------------------

#mc_embed_signup {
  color: $white;
  .indicates-required{
    @include adjust-font-size-to(12px, .8);
    margin-bottom: 10px;
  }
  .mc-field-group {
    margin-bottom: 10px;
  }
  label {
    @include adjust-font-size-to(12px, .8);
    color: $blue-lighter;
  }  
  .asterisk {
    color: $white;
  }
  select {
    max-width: 95%;
  }
  .input-group {
    ul {
      list-style-type: none;
      margin: 0;
      li {
        clear: both;
        input {
          float: left;
          margin-right: 5px;
        }
      }
    }
  }
}

//  DRUPAL
//--------------------------------------------------

#toolbar {
  @include box-shadow(none);
}

#messages {
  background: $black;
  @include background(rgba($black,.5));
  @include border-radius(6px);
  color: $blue-lighter;
  margin-bottom: 1em;
  padding: 18px 20px;
  a {
    color: $white;
  }
}

#tabs {
  background-color: $white;
  @include background(transparent linear-gradient($white, $blue-white));
  @include border-top-radius(6px);
  @include box-shadow(0 0 10px $white inset);
  border-bottom: 1px solid $slate;
  float: left;
  width: 100%;
  ul.primary {
    border-right: 1px solid $white;
    float: left;
    list-style-type: none;
    margin-bottom: 0;
    margin-left: 0;
    li {
      border-left: 1px solid $white;
      border-right: 1px solid $blue-lightest;
      float: left;
      font-size: 12px;
      font-weight: bold;
      padding: 6px;
      position: relative;
      text-transform: uppercase;
      &:first-child {
        border-left: none;
      }
      a {
        @include border-radius(3px);
        @include text-shadow($white 0 1px 0);
        float: left;
        line-height: 30px;
        padding: 0 12px;
        text-decoration: none;
        &.active,
        &:hover {
          @include box-shadow(0 1px 0 rgba($blue-dark, .3) inset, 0 0 0 1px rgba($blue-dark, .15) inset, 0 0 5px 2px $white inset);
          //@include background($white linear-gradient($white, lighten($blue-lightest, 3%)));
          @include background($white linear-gradient($white, $blue-white));
          @include text-shadow($white 0 1px 0);
          //background-color: $white;
        }
        &.active {
          //@include box-shadow(0 1px 3px rgba($blue-dark, .75) inset);
          //@include background($blue linear-gradient(darken($blue, 5%), $blue));
          @include background($white);// linear-gradient(lighten($blue-lightest, 3%), $white));
          //@include box-shadow(0 1px 0 rgba($blue-dark, .3) inset, 0 1px 0 1px rgba($blue-dark, .15) inset, 0 0 5px 2px $white inset);
          @include link-colors($orange, $orange-dark);
          
          //@include text-shadow(rgba($blue-dark, .75) 0 1px 0);
          //color: $white;
        }
      }
    }
  }
}