html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

body { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

.clearfix { *zoom: 1; }
.clearfix:after { content: "\0020"; display: block; height: 0; clear: both; overflow: hidden; visibility: hidden; }

.button, .button-large, .submit-large, #highlighted p a.submit-large, #highlighted p a.button-large, .submit, #highlighted p a.submit, .front #content .more-link a, .page-news #content .more-link a, .section-tags #content .more-link a, .section-taxonomy #content .more-link a, .node-type-news #content .more-link a, .aside .block a.submit, #highlighted p a.button, .aside .block a.button { background: white; background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #cfd5df)); background: -webkit-linear-gradient(#ffffff, #cfd5df); background: -moz-linear-gradient(#ffffff, #cfd5df); background: -o-linear-gradient(#ffffff, #cfd5df); background: -ms-linear-gradient(#ffffff, #cfd5df); background: linear-gradient(#ffffff, #cfd5df); -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; -ms-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; -moz-box-shadow: 0 0 10px white inset, 0 1px 1px rgba(0, 0, 0, 0.15); -webkit-box-shadow: 0 0 10px white inset, 0 1px 1px rgba(0, 0, 0, 0.15); -o-box-shadow: 0 0 10px white inset, 0 1px 1px rgba(0, 0, 0, 0.15); box-shadow: 0 0 10px white inset, 0 1px 1px rgba(0, 0, 0, 0.15); display: -moz-inline-box; -moz-box-orient: vertical; display: inline-block; vertical-align: middle; *vertical-align: auto; color: #15499f; -moz-transition-property: all; -webkit-transition-property: all; -o-transition-property: all; transition-property: all; -moz-transition-duration: 0.25s; -webkit-transition-duration: 0.25s; -o-transition-duration: 0.25s; transition-duration: 0.25s; border: 1px solid #c3cbd6; border-bottom: 1px solid #8494ae; border-color: #c3cbd6 #afb9c9 #95a1b6; font-weight: bold; line-height: 24px; padding: 0 10px; text-decoration: none; }
.button, .button-large, .submit-large, #highlighted p a.submit-large, #highlighted p a.button-large, .submit, #highlighted p a.submit, .front #content .more-link a, .page-news #content .more-link a, .section-tags #content .more-link a, .section-taxonomy #content .more-link a, .node-type-news #content .more-link a, .aside .block a.submit, #highlighted p a.button, .aside .block a.button { *display: inline; }
.button:hover, .button-large:hover, .submit-large:hover, #highlighted p a.submit-large:hover, #highlighted p a.button-large:hover, .submit:hover, #highlighted p a.submit:hover, .front #content .more-link a:hover, .page-news #content .more-link a:hover, .section-tags #content .more-link a:hover, .section-taxonomy #content .more-link a:hover, .node-type-news #content .more-link a:hover, .aside .block a.submit:hover, #highlighted p a.button:hover, .aside .block a.button:hover { color: #0b2a5d; }
.button:hover, .button-large:hover, .submit-large:hover, #highlighted p a.submit-large:hover, #highlighted p a.button-large:hover, .submit:hover, #highlighted p a.submit:hover, .front #content .more-link a:hover, .page-news #content .more-link a:hover, .section-tags #content .more-link a:hover, .section-taxonomy #content .more-link a:hover, .node-type-news #content .more-link a:hover, .aside .block a.submit:hover, #highlighted p a.button:hover, .aside .block a.button:hover { -moz-box-shadow: 0 0 10px 5px white inset, 0 1px 1px rgba(0, 0, 0, 0.15); -webkit-box-shadow: 0 0 10px 5px white inset, 0 1px 1px rgba(0, 0, 0, 0.15); -o-box-shadow: 0 0 10px 5px white inset, 0 1px 1px rgba(0, 0, 0, 0.15); box-shadow: 0 0 10px 5px white inset, 0 1px 1px rgba(0, 0, 0, 0.15); border-color: #95a1b6; }

.button-large, .submit-large, #highlighted p a.submit-large, #highlighted p a.button-large { line-height: 30px; padding: 0 15px; }

.submit, #highlighted p a.submit, .front #content .more-link a, .page-news #content .more-link a, .section-tags #content .more-link a, .section-taxonomy #content .more-link a, .node-type-news #content .more-link a, .aside .block a.submit { background: white; background: url('../images/icon-arrow-small.png?1313176329') 100% 50% no-repeat, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #cfd5df)); background: url('../images/icon-arrow-small.png?1313176329') 100% 50% no-repeat, -webkit-linear-gradient(#ffffff, #cfd5df); background: url('../images/icon-arrow-small.png?1313176329') 100% 50% no-repeat, -moz-linear-gradient(#ffffff, #cfd5df); background: url('../images/icon-arrow-small.png?1313176329') 100% 50% no-repeat, -o-linear-gradient(#ffffff, #cfd5df); background: url('../images/icon-arrow-small.png?1313176329') 100% 50% no-repeat, -ms-linear-gradient(#ffffff, #cfd5df); background: url('../images/icon-arrow-small.png?1313176329') 100% 50% no-repeat, linear-gradient(#ffffff, #cfd5df); padding-right: 34px; }

.submit-large, #highlighted p a.submit-large { background: white; background: url('../images/icon-arrow.png?1313176329') 100% 50% no-repeat, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #cfd5df)); background: url('../images/icon-arrow.png?1313176329') 100% 50% no-repeat, -webkit-linear-gradient(#ffffff, #cfd5df); background: url('../images/icon-arrow.png?1313176329') 100% 50% no-repeat, -moz-linear-gradient(#ffffff, #cfd5df); background: url('../images/icon-arrow.png?1313176329') 100% 50% no-repeat, -o-linear-gradient(#ffffff, #cfd5df); background: url('../images/icon-arrow.png?1313176329') 100% 50% no-repeat, -ms-linear-gradient(#ffffff, #cfd5df); background: url('../images/icon-arrow.png?1313176329') 100% 50% no-repeat, linear-gradient(#ffffff, #cfd5df); padding-right: 45px; }

.bottom-dash, fieldset, .page-node-add .field-name-field-session-qa { border-bottom: 1px dashed #c3cbd6; margin-bottom: 2em; padding-bottom: 2em; }

/*----------------------------------------------------------------------------------------------------
 GENERAL

----------------------------------------------------------------------------------------------------*/
body { font-size: 81.25%; line-height: 1.385em; }

html > body { font-size: 13px; }

body { color: #333333; font-family: "Helvetica Neue", Arial, Helvetica, "Lucida Grande", Verdana, sans-serif; }

h1 { font-size: 3.692em; line-height: 1.125em; color: #15499f; font-family: "SteelfishBold", "Helvetica Neue", Arial, Helvetica, "Lucida Grande", Verdana, sans-serif; margin-bottom: .5em; text-transform: uppercase; }
h1.page-title { font-size: 3.692em; line-height: 2.25em; background: url('../images/bg-page-title.png?1313176329') 50% 0 no-repeat; color: white; margin-bottom: 0; text-align: center; }
h1 em { color: #83bae8; font-style: normal; }

h2 { font-size: 1.846em; line-height: 1.0em; color: #4c81c3; font-family: "SteelfishBold", "Helvetica Neue", Arial, Helvetica, "Lucida Grande", Verdana, sans-serif; margin-bottom: 1em; text-transform: uppercase; }

.field-name-body h2 { font-size: 1.538em; line-height: 1.125em; color: #15499f; font-family: "Helvetica Neue", Arial, Helvetica, "Lucida Grande", Verdana, sans-serif; font-weight: bold; text-transform: none; }

h3 { font-size: 2.308em; line-height: 1.0em; clear: both; color: #4c81c3; font-family: "SteelfishBold", "Helvetica Neue", Arial, Helvetica, "Lucida Grande", Verdana, sans-serif; margin-bottom: 1em; text-transform: uppercase; }
h3 a { color: #4c81c3; }
h3 a:hover { color: #15499f; }

h4 { font-size: 1.615em; line-height: 1.143em; color: #4c81c3; font-weight: 300; margin-bottom: 1em; }

h5 { font-size: 1.154em; line-height: 1.2em; color: #4c81c3; font-weight: bold; margin-bottom: 1em; }

h6 { font-size: 1em; line-height: 1.385em; color: #4c81c3; font-weight: bold; margin-bottom: 1em; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { text-decoration: none; }
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover { text-decoration: underline; }

dl, ul, ol { margin-bottom: 1.5em; }

ol { list-style: decimal; margin-left: 20px; }

ul { list-style: disc; margin-left: 20px; }

p { margin-bottom: 1.5em; }

dt { color: black; font-weight: bold; }

blockquote { padding: 0 20px; }

cite { font-style: italic; }

strong, b { font-weight: bold; }

em, i { font-style: italic; }

code, pre { font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace; color: #666666; }

pre { margin-bottom: 1.5em; }
pre code { max-width: 100%; }

code { font-size: 1em; line-height: 1.385em; white-space: pre-wrap; /* css-3 */ white-space: -moz-pre-wrap; /* Mozilla, since 1999 */ white-space: -pre-wrap; /* Opera 4-6 */ white-space: -o-pre-wrap; /* Opera 7 */ word-wrap: break-word; /* Internet Explorer 5.5+ */ }

hr { border: none; border-top: 1px dashed #c3cbd6; clear: both; margin: 1em 0; }

/*
li { li, p { @include adjust-font-size-to(13px, 1, 13px); } @include adjust-font-size-to(13px); h1 { @include adjust-font-size-to(48px, 3, 13px); } h2 { @include adjust-font-size-to(24px, 1.33333333, 13px); } h3 { @include adjust-font-size-to(30px, 1.66666666, 13px); } h4 { @include adjust-font-size-to(21px, 1.33333333, 13px); } h5 { @include adjust-font-size-to(15px, 1, 13px); } h6 { @include adjust-font-size-to(13px, 1, 13px); }
}
*/
a { color: #15499f; -moz-transition-property: color; -webkit-transition-property: color; -o-transition-property: color; transition-property: color; -moz-transition-duration: 0.05s; -webkit-transition-duration: 0.05s; -o-transition-duration: 0.05s; transition-duration: 0.05s; }
a:hover { color: #0b2a5d; }

table { border: 1px solid #d1e5f7; }
table th { font-size: 0.923em; line-height: 1.5em; background-color: #d1e5f7; color: #0b2a5d; font-weight: bold; padding: 3px 10px; vertical-align: middle; }
table th label { font-size: 1em; margin: 0; }
table tr.even, table tr.odd { border: none; }
table tr:nth-child(2n+1), table tr.odd { background-color: white; }
table tr:nth-child(2n), table tr.even { background-color: #f5f9fd; }
table td { padding: 3px 10px; }
table td.active { background: none; }

.tabledrag-toggle-weight { font-size: 0.846em; line-height: 1.636em; background: url('../images/icons.png?1320723745') 0 -540px; color: #8494ae; display: -moz-inline-box; -moz-box-orient: vertical; display: inline-block; vertical-align: middle; *vertical-align: auto; font-weight: bold; padding-left: 20px; text-decoration: none; }
.tabledrag-toggle-weight:hover { color: #475f85; }
.tabledrag-toggle-weight { *display: inline; }
.tabledrag-toggle-weight:hover { background-position: 0 -580px; }

ul.training-list { list-style-type: none; margin: 0; }
ul.training-list li.views-row { *zoom: 1; border-top: 1px dotted #c3cbd6; clear: both; padding: 20px 0; }
ul.training-list li.views-row:after { content: "\0020"; display: block; height: 0; clear: both; overflow: hidden; visibility: hidden; }
ul.training-list h2, ul.training-list h3 { font-size: 1.231em; line-height: 1.406em; color: #15499f; font-family: "Helvetica Neue", Arial, Helvetica, "Lucida Grande", Verdana, sans-serif; font-weight: bold; margin-bottom: .5em; text-transform: none; }
ul.training-list dl { float: left; margin: 0 0 10px 0; width: 100%; }
ul.training-list .field-label, ul.training-list dt { font-size: 0.846em; line-height: 1.636em; color: #475f85; float: left; font-weight: bold; width: 20%; }
ul.training-list .field-items, ul.training-list dd { float: right; width: 75%; }
ul.training-list .field-item { font-size: 0.846em; line-height: 1.636em; display: inline; }
ul.training-list .field-name-field-experience .field-item { font-size: 0.846em; line-height: 1.636em; display: -moz-inline-box; -moz-box-orient: vertical; display: inline-block; vertical-align: middle; *vertical-align: auto; -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; -ms-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; -moz-box-shadow: 0 1px 1px rgba(71, 95, 133, 0.5) inset; -webkit-box-shadow: 0 1px 1px rgba(71, 95, 133, 0.5) inset; -o-box-shadow: 0 1px 1px rgba(71, 95, 133, 0.5) inset; box-shadow: 0 1px 1px rgba(71, 95, 133, 0.5) inset; background-color: #4c81c3; color: white; padding: 0 6px; }
ul.training-list .field-name-field-experience .field-item { *display: inline; }
ul.training-list .read-more { float: left; }
ul.training-list .read-more a { background: url('../images/icons.png?1320723745') 100% 0 no-repeat; color: #15499f; font-weight: bold; text-decoration: none; float: left; margin-right: 10px; padding-right: 24px; text-decoration: none; }
ul.training-list .read-more a:hover { color: #0b2a5d; }
ul.training-list .read-more a:hover { background-position: 100% -40px; }

h4.register-title { font-size: 1.154em; line-height: 1.2em; background-color: #475f85; color: white; font-weight: bold; margin-bottom: -1px; margin-top: 10px; padding: 6px 10px; position: relative; z-index: 10; }

ul.training-cost { border: 1px solid #c3cbd6; border-bottom: 1px solid #8494ae; clear: both; list-style-type: none; margin: 0 0 10px 0; min-height: 40px; padding: 5px 15px 10px 15px; }
ul.training-cost li { *zoom: 1; border-bottom: 1px dotted #c3cbd6; clear: both; margin: 0 0 10px 0; padding-top: 10px; position: relative; }
ul.training-cost li:after { content: "\0020"; display: block; height: 0; clear: both; overflow: hidden; visibility: hidden; }
ul.training-cost li strong, ul.training-cost li a { background-color: white; float: left; margin-bottom: -3px; padding: 0; }
ul.training-cost li strong { font-size: 1em; line-height: 1.385em; margin-right: 100px; padding-right: 5px; }
ul.training-cost li a { font-size: 1.154em; line-height: 1.2em; background: white url('../images/icons.png?1320723745') 100% 0 no-repeat; color: #cc6600; float: right; font-weight: bold; padding-left: 5px; padding-right: 24px; position: absolute; right: 0; text-decoration: none; top: 10px; }
ul.training-cost li a:hover { color: #bf4c00; }
ul.training-cost li a:hover { background-position: 100% -40px; }
@media screen and (max-width: 400px) { ul.training-cost li { border: none; } }

ul.training-sold-out { background: url('../images/banner-sold-out.png?1322106271') 50% 50% no-repeat; }
ul.training-sold-out li { visibility: hidden; }
ul.training-sold-out strong { visibility: hidden; }
ul.training-sold-out a { display: none; visibility: hidden; }

table.training-list { border: none; width: 99%; }
table.training-list tr { border: 1px solid #d1e5f7; }
table.training-list h3 { font-size: 1.231em; line-height: 1.125em; font-family: "Helvetica Neue", Arial, Helvetica, "Lucida Grande", Verdana, sans-serif; font-weight: bold; margin: 0 0 .5em 0; text-transform: none; }
table.training-list p { font-size: 0.846em; line-height: 1.636em; margin: 0; }
table.training-list td { padding: 10px 15px; }
table.training-list td.price { text-align: center; vertical-align: top; width: 20%; }
table.training-list td.price a { color: #cc6600; text-decoration: none; }
table.training-list td.price a:hover { color: #bf4c00; }

button, input[type="reset"], input[type="submit"], input[type="button"] { background: #dddddd url(../images/button.png) repeat-x; background: -webkit-gradient(linear, left top, left bottom, color-stop(0, white), color-stop(0.8, #e1e1e1), color-stop(1, white)); background: -moz-linear-gradient(top center, white 0%, #e1e1e1 80%, white 100%); border-color: #c3cbd6 #afb9c9 #95a1b6; color: #15499f; }
button:hover, input[type="reset"]:hover, input[type="submit"]:hover, input[type="button"]:hover { border-color: #8696ad #7284a0 #5d6d88; color: #0b2a5d; }

textarea, select, input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"] { border-color: #95a1b6 #c3cbd6 #e6e9ee; color: #242930; }

fieldset .fieldset-wrapper { padding-top: 1px; }

html.js fieldset.collapsible .fieldset-legend { background: none; padding-left: 0; }
html.js fieldset.collapsible .fieldset-legend a { background: url('../images/icons.png?1320723745') -584px -71px no-repeat; padding-left: 30px; }
html.js fieldset.collapsible .fieldset-legend a:hover { background-position: -584px -111px; }
html.js fieldset.collapsible .fieldset-legend span.summary { display: none; visibility: hidden; }
html.js fieldset.collapsed { height: 2em; }
html.js fieldset.collapsed .fieldset-legend a { background-position: -584px 9px; padding-left: 30px; }
html.js fieldset.collapsed .fieldset-legend a:hover { background-position: -584px -31px; }

legend { font-size: 2.308em; line-height: 1.2em; color: #4c81c3; font-family: "SteelfishBold", "Helvetica Neue", Arial, Helvetica, "Lucida Grande", Verdana, sans-serif; text-transform: uppercase; }
legend a { color: #4c81c3; }
legend a:hover { color: #83bae8; }

.fieldset-description { font-size: 0.923em; line-height: 1.5em; padding-top: 9px; color: #666666; }

.marker, .form-required { color: #d97f00; }

input { max-width: 98%; }

.form-item { margin: 18px 0; }

.file-widget { -moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; -ms-border-radius: 6px; -khtml-border-radius: 6px; border-radius: 6px; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #e8f2fb)); background-image: -webkit-linear-gradient(#ffffff, #e8f2fb); background-image: -moz-linear-gradient(#ffffff, #e8f2fb); background-image: -o-linear-gradient(#ffffff, #e8f2fb); background-image: -ms-linear-gradient(#ffffff, #e8f2fb); background-image: linear-gradient(#ffffff, #e8f2fb); -moz-box-shadow: 0 0 20px white inset; -webkit-box-shadow: 0 0 20px white inset; -o-box-shadow: 0 0 20px white inset; box-shadow: 0 0 20px white inset; border: 1px solid #d1e5f7; border-bottom-color: #a6ccef; padding: 1em 1em; }

label { font-size: 1em; line-height: 2.077em; color: #0b2a5d; cursor: pointer; font-weight: bold; margin-bottom: 3px; }
label:hover { color: #15499f; }
label.option { font-size: 0.923em; line-height: 1.5em; color: #475f85; margin-bottom: 0; }

.description, .form-item .description, ul.tips li { font-size: 0.846em; line-height: 1.636em; }

.description, .form-item .description, ul.tips { color: #666666; padding-top: 9px; }

.filter-guidelines { padding: 0; }

.form-wrapper { clear: both; }

fieldset.filter-wrapper { border-bottom: none; padding: 0; position: relative; }
fieldset.filter-wrapper .form-item { margin: 0; padding: 9px 0 0 0; }
fieldset.filter-wrapper label { font-size: 0.846em; line-height: 1.636em; }

.filter-help { padding: 0; position: absolute; right: 0; top: 9px; }
.filter-help a { font-size: 0.846em; line-height: 1.636em; display: block; float: right; overflow: hidden; padding-left: 0; text-indent: -9999px; width: 0; }
.filter-help a:hover { overflow: auto; text-indent: 0; width: auto; }

.draggable a.tabledrag-handle { display: block; height: auto; margin: 0; padding: 9px 10px; }
.draggable a.tabledrag-handle .handle { display: block; margin: 0; }

.field-multiple-table .field-multiple-drag { padding: 0; }
.field-multiple-table td .form-required { float: left; padding: 0 5px 0 0; }
.field-multiple-table td input { width: 90%; }

.form-actions { margin: 0; padding: 1em 0 0 0; }
.form-actions input { margin-right: 10px; }

.vertical-tabs .form-wrapper { clear: none; }
.vertical-tabs ul.vertical-tabs-list { list-style-type: none; margin: -1px 0px -1px -15em; }
.vertical-tabs ul.vertical-tabs-list .summary { font-size: 0.923em; line-height: 1.5em; color: #666666; }

.image-right { float: right; margin-bottom: 18px; margin-left: 20px; max-width: 50%; }

.image-left { float: left; margin-bottom: 18px; margin-right: 20px; max-width: 50%; }

.post-date { background: url('../images/bg-wood-date.png?1313176329') 0 100% no-repeat; display: block; margin-bottom: 1em; padding: 12px 0 13px 0; }
.post-date span { display: block; }
.post-date .post-month, .post-date .post-year { font-size: 0.769em; line-height: 1.8em; color: #d1e5f7; font-weight: bold; text-transform: uppercase; }
.post-date .post-day { font-size: 2.308em; line-height: 1.2em; color: white; font-family: "SteelfishBold", "Helvetica Neue", Arial, Helvetica, "Lucida Grande", Verdana, sans-serif; }

.comment-count { display: block; }
.comment-count a { font-size: 1.077em; line-height: 1.286em; background: url('../images/icons.png?1320723745') 12px -960px no-repeat; color: #d1e5f7; display: block; font-weight: bold; line-height: 26px; padding-bottom: 5px; text-decoration: none; }
.comment-count a:hover { background: url('../images/icons.png?1320723745') 12px -1000px no-repeat; }
.comment-count a:hover { color: #15499f; }

ul.links { list-style-type: none; margin-bottom: 0; margin-left: 0; }
ul.links li { font-size: 0.769em; line-height: 1.8em; float: left; margin-right: 20px; }
ul.links li a { color: #8494ae; display: -moz-inline-box; -moz-box-orient: vertical; display: inline-block; vertical-align: middle; *vertical-align: auto; font-weight: bold; text-decoration: none; }
ul.links li a:hover { color: #475f85; }
ul.links li a { *display: inline; }
ul.links li.node-readmore { font-size: 1em; line-height: 1.385em; margin-bottom: 18px; margin-right: 0; width: 100%; }
ul.links li.node-readmore a { background: url('../images/icons.png?1320723745') 100% 0 no-repeat; color: #15499f; padding-right: 24px; }
ul.links li.node-readmore a:hover { color: #0b2a5d; }
ul.links li.node-readmore a:hover { background-position: 100% -40px; }
ul.links li.comment_forbidden a { display: inline; vertical-align: baseline; }

.comment-new-comments { display: none; visibility: hidden; }

.comment-comments a { background: url('../images/icons.png?1320723745') 0 -80px; padding-left: 24px; }
.comment-comments a:hover { background-position: 0 -120px; }

.comment-add a { background: url('../images/icons.png?1320723745') 0 -160px; padding-left: 24px; }
.comment-add a:hover { background-position: 0 -200px; }

.tags { background: url('../images/icons.png?1320723745') 3px -237px no-repeat; float: right; padding-left: 15px; }
.tags div { display: inline; }
.tags:hover { background-position: 3px -277px; }
.tags a { font-size: 0.769em; line-height: 1.8em; color: #8494ae; -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; -ms-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; display: -moz-inline-box; -moz-box-orient: vertical; display: inline-block; vertical-align: middle; *vertical-align: auto; -moz-transition-property: all; -webkit-transition-property: all; -o-transition-property: all; transition-property: all; -moz-transition-duration: 0.15s; -webkit-transition-duration: 0.15s; -o-transition-duration: 0.15s; transition-duration: 0.15s; background: white; background: rgba(209, 229, 247, 0); font-weight: bold; padding: 0 6px; text-decoration: none; }
.tags a:hover { color: #475f85; }
.tags a { *display: inline; }
.tags a:hover { background-color: #d1e5f7; }

.submitted { font-size: 0.846em; line-height: 1.636em; color: #666666; }
.submitted .permalink { background: url('../images/icons.png?1320723745') 0 -700px no-repeat; text-indent: -119988px; overflow: hidden; text-align: left; float: left; line-height: 20px; width: 20px; }
.submitted .permalink:hover { background: url('../images/icons.png?1320723745') 0 -740px no-repeat; }

.item-list ul.pager { background-color: white; padding: 18px 20px; text-align: left; }
.item-list ul.pager a { font-weight: bold; text-decoration: none; }
.item-list ul.pager li.pager-item { display: -moz-inline-box; -moz-box-orient: vertical; display: inline-block; vertical-align: middle; *vertical-align: auto; margin: 0 .25em; padding: 0; }
.item-list ul.pager li.pager-item { *display: inline; }
.item-list ul.pager li.pager-item a { border: 1px solid white; padding: .25em .5em; }
.item-list ul.pager li.pager-item a:hover { -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; -ms-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #ecf4fc)); background-image: -webkit-linear-gradient(#ffffff, #ecf4fc); background-image: -moz-linear-gradient(#ffffff, #ecf4fc); background-image: -o-linear-gradient(#ffffff, #ecf4fc); background-image: -ms-linear-gradient(#ffffff, #ecf4fc); background-image: linear-gradient(#ffffff, #ecf4fc); -moz-box-shadow: 0 0 5px white inset; -webkit-box-shadow: 0 0 5px white inset; -o-box-shadow: 0 0 5px white inset; box-shadow: 0 0 5px white inset; border-color: #4c81c3; margin: 0; padding: .25em .5em; }
.item-list ul.pager .pager-current { -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; -ms-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cc6600), color-stop(100%, #bf4c00)); background-image: -webkit-linear-gradient(#cc6600, #bf4c00); background-image: -moz-linear-gradient(#cc6600, #bf4c00); background-image: -o-linear-gradient(#cc6600, #bf4c00); background-image: -ms-linear-gradient(#cc6600, #bf4c00); background-image: linear-gradient(#cc6600, #bf4c00); -moz-box-shadow: 0 1px 1px #bf4c00 inset; -webkit-box-shadow: 0 1px 1px #bf4c00 inset; -o-box-shadow: 0 1px 1px #bf4c00 inset; box-shadow: 0 1px 1px #bf4c00 inset; border: 1px solid #bf4c00; color: white; margin: 0 .25em; padding: .25em .5em; /*
@include border-radius(3px);
@include background-image(linear-gradient($white, lighten($blue-white, 1%)));
@include box-shadow(0 0 20px $white inset);
border: 1px solid $blue-lightest;
border-bottom-color: darken($blue-lightest, 10%);
margin: 0;
padding: .25em .5em;
*/ }
.item-list ul.pager .pager-next, .item-list ul.pager .pager-previous, .item-list ul.pager .pager-first, .item-list ul.pager .pager-last { margin: 0; padding: 0; }
.item-list ul.pager .pager-next a, .item-list ul.pager .pager-previous a, .item-list ul.pager .pager-first a, .item-list ul.pager .pager-last a { -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; -ms-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #ecf4fc)); background-image: -webkit-linear-gradient(#ffffff, #ecf4fc); background-image: -moz-linear-gradient(#ffffff, #ecf4fc); background-image: -o-linear-gradient(#ffffff, #ecf4fc); background-image: -ms-linear-gradient(#ffffff, #ecf4fc); background-image: linear-gradient(#ffffff, #ecf4fc); -moz-box-shadow: 0 0 5px white inset; -webkit-box-shadow: 0 0 5px white inset; -o-box-shadow: 0 0 5px white inset; box-shadow: 0 0 5px white inset; border: 1px solid #d1e5f7; border-bottom-color: #a6ccef; margin: 0; padding: .25em 1em; }
.item-list ul.pager .pager-next a:hover, .item-list ul.pager .pager-previous a:hover, .item-list ul.pager .pager-first a:hover, .item-list ul.pager .pager-last a:hover { border-color: #4c81c3; text-decoration: none; }

body { background: #0b2a5d url('../images/bg.jpg?1313176329') 50% 0; padding-bottom: 40px; }

.container { *zoom: 1; clear: both; margin: 0 auto; position: relative; width: 940px; }
.container:after { content: "\0020"; display: block; height: 0; clear: both; overflow: hidden; visibility: hidden; }
@media screen and (max-width: 958px) { .container { width: 100%; } }

#content-wrapper, #sidebar-first, #footer { margin: 0; }
@media screen and (max-width: 958px) { #content-wrapper, #sidebar-first, #footer { margin: 0 .5em 1em; } }

#content { *zoom: 1; clear: both; padding: 36px 40px; margin-bottom: 1em; }
#content:after { content: "\0020"; display: block; height: 0; clear: both; overflow: hidden; visibility: hidden; }
@media screen and (max-width: 958px) { #content { padding: 18px 20px; } }

.one-sidebar #content-wrapper { *zoom: 1; float: left; width: 620px; }
.one-sidebar #content-wrapper:after { content: "\0020"; display: block; height: 0; clear: both; overflow: hidden; visibility: hidden; }

#sidebar-first { float: right; width: 300px; }
@media screen and (max-width: 958px) { #sidebar-first { clear: both; float: none; width: auto; } }

@media screen and (max-width: 958px) { .one-sidebar #content-wrapper, #content-wrapper { clear: both; float: none; width: auto; } }

#wrapper { position: relative; z-index: 0; }

#bg-mountains { bottom: 0; left: 0; position: fixed; width: 100%; z-index: -10; }
@media screen and (max-width: 958px) { #bg-mountains { width: auto; } }

#drupalorg-site-status { background: #d97f00; font-size: 1.077em; line-height: 1.286em; background: #cc6600 -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d97f00), color-stop(100%, #cc6600)); background: #cc6600 -webkit-linear-gradient(#d97f00, #cc6600); background: #cc6600 -moz-linear-gradient(#d97f00, #cc6600); background: #cc6600 -o-linear-gradient(#d97f00, #cc6600); background: #cc6600 -ms-linear-gradient(#d97f00, #cc6600); background: #cc6600 linear-gradient(#d97f00, #cc6600); text-shadow: 0 1px 0 #592300; border-bottom: 1px solid #d97f00; color: white; font-weight: bold; padding: 1em 0; position: relative; text-align: center; z-index: 20; }
#drupalorg-site-status p { margin-bottom: 0; }
#drupalorg-site-status a { -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; -ms-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; color: white; margin-left: -5px; margin-right: -5px; padding: 0 5px; text-decoration: underline; }
#drupalorg-site-status a:hover { color: white; }
#drupalorg-site-status a:hover { background-color: rgba(191, 76, 0, 0.75); }

/*----------------------------------------------------------------------------------------------------
 REGIONS

----------------------------------------------------------------------------------------------------*/
#utility { background-color: black; }
@media screen and (max-width: 480px) { #utility .container { height: 48px; } }
#utility ul { list-style-type: none; margin-bottom: 0; margin-left: 0; }
#utility li { font-size: 11px; font-weight: bold; line-height: 30px; }
@media screen and (max-width: 480px) { #utility li { line-height: 18px; } }
#utility a { color: #83bae8; text-decoration: none; }
#utility a:hover { color: white; }
#utility a:hover { text-decoration: underline; }
#utility a.active { color: white; }

#block-menu-menu-secondary-navigation { display: inline; float: left; margin-left: 20px; }
#block-menu-menu-secondary-navigation li { float: left; margin-right: 20px; }
@media screen and (max-width: 480px) { #block-menu-menu-secondary-navigation { margin-left: 0; }
  #block-menu-menu-secondary-navigation li { margin-right: 0; padding: 0 .5em; } }

#block-system-user-menu { float: left; position: absolute; right: 170px; }
#block-system-user-menu li { display: inline; float: left; margin-left: 20px; }
@media screen and (max-width: 480px) { #block-system-user-menu li { margin-left: 0; padding: 0 .5em; } }
@media screen and (max-width: 480px) { #block-system-user-menu { float: right; position: relative; right: auto; } }

#block-search-form { float: right; padding-top: 4px; }
#block-search-form .form-item { margin: 0; }
#block-search-form input.form-text { font-size: 0.923em; line-height: 1.5em; -moz-border-radius: 11px; -webkit-border-radius: 11px; -o-border-radius: 11px; -ms-border-radius: 11px; -khtml-border-radius: 11px; border-radius: 11px; background: url('../images/icons.png?1320723745') 5px -460px no-repeat; background-color: white; border: none; color: #666666; display: block; float: right; padding-left: 24px; padding-right: 10px; width: 120px; }
#block-search-form input.form-text:focus { background: url('../images/icons.png?1320723745') 5px -500px no-repeat; background-color: white; color: #333333; }
#block-search-form .form-actions { display: none; visibility: hidden; }
@media screen and (max-width: 480px) { #block-search-form { float: none; position: absolute; bottom: 5px; width: 100%; }
  #block-search-form form { margin-left: 2%; width: 96%; }
  #block-search-form .form-item { display: block; width: 100%; }
  #block-search-form input.form-text { float: none; display: block; max-width: 100%; padding-left: 0; padding-right: 0; text-indent: 24px; width: 100%; } }

#navigation #block-block-19 { float: left; }
#navigation a.tickets { font-size: 1.538em; line-height: 2.7em; background: url('../images/icon-tickets.png?1315785343') 0 15px no-repeat; color: #d1e5f7; text-shadow: 0 0 0 rgba(131, 186, 232, 0); -moz-transition-property: background-position, color, text-shadow; -webkit-transition-property: background-position, color, text-shadow; -o-transition-property: background-position, color, text-shadow; transition-property: background-position, color, text-shadow; -moz-transition-duration: 0.25s; -webkit-transition-duration: 0.25s; -o-transition-duration: 0.25s; transition-duration: 0.25s; bottom: 0; float: left; font-family: "SteelfishBold", "Helvetica Neue", Arial, Helvetica, "Lucida Grande", Verdana, sans-serif; line-height: 60px; padding-left: 70px; position: absolute; right: 0; text-decoration: none; text-transform: uppercase; }
#navigation a.tickets:hover { color: white; }
#navigation a.tickets:hover { text-shadow: 0 0 20px rgba(131, 186, 232, 0.75); background-position: 0 5px; }
@media screen and (max-width: 958px) { #navigation a.tickets { left: 50%; margin-left: -70px; right: auto; line-height: 40px; width: 140px; } }
@media screen and (max-width: 750px) { #navigation a.tickets { left: 50%; margin-left: -70px; right: auto; line-height: 40px; width: 140px; } }

#navigation { background: #051733; background: rgba(0, 0, 0, 0.4); }
#navigation ul.menu { float: left; list-style-type: none; margin-bottom: 0; margin-left: 0; }
#navigation ul.menu a { font-size: 2.154em; line-height: 1.929em; color: white; -moz-transition-property: all; -webkit-transition-property: all; -o-transition-property: all; transition-property: all; -moz-transition-duration: 0.15s; -webkit-transition-duration: 0.15s; -o-transition-duration: 0.15s; transition-duration: 0.15s; float: left; font-family: "SteelfishBold", "Helvetica Neue", Arial, Helvetica, "Lucida Grande", Verdana, sans-serif; font-weight: normal; line-height: 60px; padding: 0 20px; text-decoration: none; text-transform: uppercase; }
#navigation ul.menu a:hover { color: #83bae8; }
#navigation ul.menu a.active-trail { color: #83bae8; }
#navigation ul.menu li { float: left; position: relative; }
#navigation ul.menu li a:hover { background-color: #15499f; color: white; }
#navigation ul.menu li a:hover.active-trail { color: white; }
#navigation ul.menu li ul { -moz-border-radius-bottomleft: 3px; -webkit-border-bottom-left-radius: 3px; -o-border-bottom-left-radius: 3px; -ms-border-bottom-left-radius: 3px; -khtml-border-bottom-left-radius: 3px; border-bottom-left-radius: 3px; -moz-border-radius-bottomright: 3px; -webkit-border-bottom-right-radius: 3px; -o-border-bottom-right-radius: 3px; -ms-border-bottom-right-radius: 3px; -khtml-border-bottom-right-radius: 3px; border-bottom-right-radius: 3px; -moz-box-shadow: 0 3px 2px rgba(0, 0, 0, 0.25); -webkit-box-shadow: 0 3px 2px rgba(0, 0, 0, 0.25); -o-box-shadow: 0 3px 2px rgba(0, 0, 0, 0.25); box-shadow: 0 3px 2px rgba(0, 0, 0, 0.25); background-color: #15499f; display: none; float: none; left: 0; padding: 10px; position: absolute; top: 100%; visibility: hidden; width: 200px; z-index: 1000; }
#navigation ul.menu li ul li { display: block; float: none; }
#navigation ul.menu li ul li a { font-size: 1em; line-height: 1.385em; -moz-border-radius: 2px; -webkit-border-radius: 2px; -o-border-radius: 2px; -ms-border-radius: 2px; -khtml-border-radius: 2px; border-radius: 2px; color: white; background-color: #15499f; display: block; float: none; font-family: "Helvetica Neue", Arial, Helvetica, "Lucida Grande", Verdana, sans-serif; font-weight: bold; padding: 5px 10px; text-transform: none; }
#navigation ul.menu li ul li a:hover { color: #e8f2fb; }
#navigation ul.menu li ul li a:hover { -moz-box-shadow: 0 1px 3px rgba(7, 30, 65, 0.75) inset; -webkit-box-shadow: 0 1px 3px rgba(7, 30, 65, 0.75) inset; -o-box-shadow: 0 1px 3px rgba(7, 30, 65, 0.75) inset; box-shadow: 0 1px 3px rgba(7, 30, 65, 0.75) inset; background-color: #0b2a5d; }
#navigation ul.menu li ul li a.active { color: #83bae8; }
#navigation ul.menu li:hover a { background-color: #15499f; color: white; }
#navigation ul.menu li:hover a.active-trail { color: white; }
#navigation ul.menu li:hover ul { display: block; visibility: visible; }
@media screen and (max-width: 958px) { #navigation ul.menu { padding: 0 0 40px 0; text-align: center; width: 100%; }
  #navigation ul.menu li { display: inline; float: none; }
  #navigation ul.menu li a { display: inline; float: none; padding: 0 10px; }
  #navigation ul.menu li.first a { padding-left: 10px; } }
@media screen and (max-width: 520px) { #navigation ul.menu { padding: 0 0 40px 0; }
  #navigation ul.menu li { float: left; text-align: center; width: 50%; }
  #navigation ul.menu li a { font-size: 2.308em; line-height: 1.5em; display: block; float: none; padding: 0 9px; }
  #navigation ul.menu li.first > a { padding: 0 9px; }
  #navigation ul.menu li.first ul, #navigation ul.menu li ul { width: 100%; padding: 5px 0; }
  #navigation ul.menu li.first ul li, #navigation ul.menu li ul li { padding: 0 5px; width: auto; }
  #navigation ul.menu li.first ul li a, #navigation ul.menu li ul li a { padding: 5px 10px; text-align: left; } }

#header { margin-bottom: 24px; }
@media screen and (max-width: 958px) { #header { margin-bottom: 12px; } }
@media screen and (min-width: 958px) { #header #logo { /*
&:after { @include replace-text-with-dimensions("coloradoConventionCenter.png"); content:"test"; float: left; right: 110px; margin-left: -45px; position: absolute; top: 50px;
}
*/ }
  #header #logo:before { text-indent: -119988px; overflow: hidden; text-align: left; background-image: url('../images/drop.png?1313176329'); background-repeat: no-repeat; background-position: 50% 50%; width: 82px; height: 83px; content: " "; float: left; left: 110px; margin-left: -41px; position: absolute; top: 44px; } }

#logo { height: 192px; margin-bottom: 0; position: relative; width: 100%; }
#logo a { text-indent: -119988px; overflow: hidden; text-align: left; background-image: url('../images/logo.png?1315786237'); background-repeat: no-repeat; background-position: 50% 50%; display: block; height: 192px; -moz-transition-property: all; -webkit-transition-property: all; -o-transition-property: all; transition-property: all; -moz-transition-duration: 1s; -webkit-transition-duration: 1s; -o-transition-duration: 1s; transition-duration: 1s; }
#logo a:hover { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80); opacity: 0.8; }
@media screen and (max-width: 450px) { #logo { height: 126px; }
  #logo a { text-indent: -119988px; overflow: hidden; text-align: left; background-image: url('../images/logo-sm.png?1315786254'); background-repeat: no-repeat; background-position: 50% 50%; height: 126px; } }

#theme { background: url('../images/bg-theme.png?1313176329') 50% 0 no-repeat; text-indent: -119988px; overflow: hidden; text-align: left; height: 54px; margin-bottom: 0; width: 100%; }
@media screen and (max-width: 450px) { #theme { background: url('../images/bg-theme-sm.png?1313501715') 50% 0 no-repeat; height: 36px; } }

#header .block-google-admanager { background: url('../images/bg-diamond-sponsors.png?1317231114') 50% 100% no-repeat; top: 0; float: left; position: absolute; right: 0; }
#header .block-google-admanager h2.block-title { margin-bottom: .5em; padding-top: 12px; text-align: center; }

#gam-content-denver-diamond { width: 210px; overflow: hidden; }

#google_ads_div_denver-diamond_ad_container { width: 210px; }
#google_ads_div_denver-diamond_ad_container .item-list { width: 210px; }
#google_ads_div_denver-diamond_ad_container .item-list ul { float: left; list-style-type: none; margin: 0; padding-bottom: 40px; }
#google_ads_div_denver-diamond_ad_container .item-list ul li { clear: left; float: left; margin: 0; width: 210px; }
#google_ads_div_denver-diamond_ad_container .item-list ul li div, #google_ads_div_denver-diamond_ad_container .item-list ul li span { float: left; width: 100%; }
#google_ads_div_denver-diamond_ad_container .item-list ul li a { display: block; line-height: 80px; text-align: center; }
#google_ads_div_denver-diamond_ad_container .item-list ul li a:hover img { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80); opacity: 0.8; }
#google_ads_div_denver-diamond_ad_container .item-list ul li img { -moz-transition-property: all; -webkit-transition-property: all; -o-transition-property: all; transition-property: all; -moz-transition-duration: 0.15s; -webkit-transition-duration: 0.15s; -o-transition-duration: 0.15s; transition-duration: 0.15s; display: block; display: inline; display: inline-table; display: inline-block; vertical-align: middle; margin: 0 auto; max-height: 80px; max-width: 80%; }

@media screen and (max-width: 958px) { #header .block-google-admanager { background: none; top: auto; clear: both; float: none; margin-bottom: 12px; position: static; right: auto; }
  #header .block-google-admanager h2.block-title { background: url('../images/bg-diamond-sponsors.png?1317231114') 50% 0 no-repeat; margin-bottom: 0; padding: 30px 0 0 0; }
  #google_ads_div_denver-diamond_ad_container .item-list ul { background: url('../images/bg-diamond-sponsors.png?1317231114') 50% 100% no-repeat; } }
#highlighted { color: #d1e5f7; }
#highlighted ul.list { background: #15499f url('../images/bg-highlighted.jpg?1313176329') 0 0 no-repeat; height: 360px; list-style-type: none; margin-left: 0; overflow: hidden; position: relative; width: 100%; }
@media screen and (max-width: 1020px) { #highlighted ul.list { margin-bottom: 60px; } }
@media screen and (max-width: 620px) { #highlighted ul.list { background-position: 50% 0; overflow: auto; } }
#highlighted ul.list li.list-item { display: none; font-size: 1em; left: 0; padding: 36px 40px; position: absolute; top: 0; visibility: hidden; width: 860px; }
@media screen and (max-width: 958px) { #highlighted ul.list li.list-item { width: auto; } }
#highlighted ul.list li.views-row-first { display: block; visibility: visible; }
#highlighted a { color: white; }
#highlighted a:hover { color: #e8f2fb; }
#highlighted p { font-size: 1em; line-height: 1.385em; }
#highlighted h2 { font-size: 3.692em; line-height: 1.125em; color: white; margin: 0 50% 0 0; }
#highlighted h3 { font-size: 3.692em; line-height: 1.125em; color: #d1e5f7; margin: 0 0 .25em 0; }
#highlighted .carousel-body { margin-right: 50%; }
#highlighted .carousel-image { left: 55%; position: absolute; top: 0; }
@media screen and (max-width: 958px) { #highlighted h2, #highlighted h3 { font-size: 2.769em; line-height: 1em; } }
@media screen and (max-width: 620px) { #highlighted h2, #highlighted .carousel-body { margin-right: 0; }
  #highlighted .carousel-image { display: none; visibility: hidden; } }

.slideshow-wrapper { position: relative; }
.slideshow-wrapper a.slide-next, .slideshow-wrapper a.slide-previous { text-indent: -119988px; overflow: hidden; text-align: left; height: 40px; margin-top: -20px; position: absolute; top: 50%; width: 40px; z-index: 2000; }
.slideshow-wrapper a.slide-previous { background: url('../images/highlighted-arrows.png?1313176329') 0 0 no-repeat; left: -50px; }
.slideshow-wrapper a.slide-previous:hover { background-position: 0 -40px; }
.slideshow-wrapper a.slide-next { background: url('../images/highlighted-arrows.png?1313176329') 100% 0 no-repeat; right: -50px; }
.slideshow-wrapper a.slide-next:hover { background-position: 100% -40px; }
@media screen and (max-width: 1020px) { .slideshow-wrapper a.slide-previous { bottom: -50px; left: 50%; margin-left: -45px; top: auto; }
  .slideshow-wrapper a.slide-next { bottom: -50px; right: 50%; margin-right: -45px; top: auto; } }

#content { background: white url('../images/bg-blue-fade.png?1313176329') 0 100% repeat-x; }

#block-system-main { clear: both; }

.page-node-add .form-item-title { margin-top: 0; }
.page-node-add .form-item-title label { font-size: 1.154em; line-height: 1.2em; }
.page-node-add .form-item-title input { font-size: 1.538em; line-height: 1.8em; height: 2em; padding: 4px 6px; width: 98%; }
.page-node-add .field-name-field-speakers { width: 100%; }
.page-node-add .field-name-field-speakers select { width: 90%; }

/*
.page-node-add { #block-system-main { padding: 18px 20px; .form-item { clear: both; } .form-type-managed-file, .form-type-radios, .form-type-checkboxes, .form-type-textfield, .form-type-textarea { float: left; width: 100%; } .form-type-textfield, .form-type-textarea { label { float: left; margin-right: 20px; width: 160px; } input { float: left; } } .file-widget, .form-checkboxes, .form-radios, .form-textarea-wrapper { float: left; } .description { clear: both; margin-left: 180px; } .form-type-checkboxes, .form-type-radios { .form-item { margin: 0; } } .field-type-user-reference { margin-left: 180px; label { float: left; margin: auto; width: auto; } input { float: none; } .description { margin-left: 0; padding-bottom: 9px; } } .filter-guidelines { margin-left: 180px; } .vertical-tabs { .form-wrapper { clear: none; } .form-type-managed-file, .form-type-radios, .form-type-checkboxes, .form-type-textfield, .form-type-textarea { float: none; } .file-widget, .form-checkboxes, .form-radios, .form-textarea-wrapper { float: none; } .form-item { clear: none; float: none; label { float: none; margin-right: 0; width: auto; } input { float: none; } .description { clear: none; margin-left: 0; } } } }
}
*/
.front #content, .page-news #content, .section-tags #content, .section-taxonomy #content, .node-type-news #content { background: none; padding: 0; }
.front #content h2.block-title, .page-news #content h2.block-title, .section-tags #content h2.block-title, .section-taxonomy #content h2.block-title, .node-type-news #content h2.block-title { display: none; visibility: hidden; }
.front #content ul.list, .page-news #content ul.list, .section-tags #content ul.list, .section-taxonomy #content ul.list, .node-type-news #content ul.list { list-style-type: none; margin-bottom: 0; margin-left: 0; }
.front #content li.list-item, .page-news #content li.list-item, .section-tags #content li.list-item, .section-taxonomy #content li.list-item, .node-type-news #content li.list-item { float: left; font-size: 1em; width: 100%; }
.front #content li.list-item p, .front #content li.list-item li, .page-news #content li.list-item p, .page-news #content li.list-item li, .section-tags #content li.list-item p, .section-tags #content li.list-item li, .section-taxonomy #content li.list-item p, .section-taxonomy #content li.list-item li, .node-type-news #content li.list-item p, .node-type-news #content li.list-item li { font-size: 1em; line-height: 1.385em; }
.front #content li.list-item ul.links li, .page-news #content li.list-item ul.links li, .section-tags #content li.list-item ul.links li, .section-taxonomy #content li.list-item ul.links li, .node-type-news #content li.list-item ul.links li { font-size: 0.769em; line-height: 1.8em; }
.front #content .more-link, .page-news #content .more-link, .section-tags #content .more-link, .section-taxonomy #content .more-link, .node-type-news #content .more-link { background-color: white; clear: both; padding: 18px 20px; }
.front #content .more-link a, .page-news #content .more-link a, .section-tags #content .more-link a, .section-taxonomy #content .more-link a, .node-type-news #content .more-link a { font-size: 0.923em; line-height: 2.0em; }

.section-taxonomy #content h1, .section-tags #content h1 { background-color: #15499f; border-bottom: 1px solid #0b2a5d; color: white; margin: 0; padding: .5em 0; text-align: center; }

.section-node-edit #content { background: white; padding: 18px 20px; }
@media screen and (max-width: 958px) { .section-node-edit #content { padding: 36px 40px; } }

.node-news { background: #7f4126 url('../images/bg-wood.jpg?1313176329') 0 0 no-repeat; clear: both; float: left; width: 100%; position: relative; }
.node-news .meta { float: left; left: 0; position: absolute; text-align: center; top: 0; width: 60px; }
.node-news .news-content { background: white url('../images/bg-blue-fade.png?1313176329') 0 100% repeat-x; *zoom: 1; border-bottom: 1px solid #c3cbd6; margin-left: 60px; padding: 36px 40px; }
.node-news .news-content:after { content: "\0020"; display: block; height: 0; clear: both; overflow: hidden; visibility: hidden; }
@media screen and (max-width: 958px) { .node-news .news-content { padding: 18px 20px; } }

.page-comment-reply #content { padding-bottom: 0; }
.page-comment-reply .form-actions { padding-bottom: 2em; }
.page-comment-reply .node-news { border-top: 1px solid #c3cbd6; margin-left: -40px; margin-right: -40px; }
@media screen and (max-width: 958px) { .page-comment-reply .node-news { margin-bottom: -18px; margin-left: -20px; margin-right: -20px; } }

.comment-preview { background-color: transparent; }

.section-venue #content-wrapper { float: none; width: 100%; }
@media screen and (max-width: 958px) { .section-venue #content-wrapper { width: auto; } }
.section-venue #sidebar-first { float: none; width: 100%; }
@media screen and (max-width: 958px) { .section-venue #sidebar-first { width: auto; } }
.section-venue #content { background: #15499f url('../images/bg-venue.jpg?1313176329') 90% -100px no-repeat; color: #d1e5f7; padding-top: 240px; }
.section-venue #content a { color: white; }
@media screen and (min-width: 958px) { .section-venue #content { background: #15499f url('../images/bg-venue.jpg?1313176329') 50% 0 no-repeat; padding-right: 50%; } }
.section-venue #content h1 { font-size: 4.615em; line-height: 0.9em; text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5); color: white; padding-right: 20%; }
.section-venue #content p { text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5); font-size: 1.154em; line-height: 1.2em; }

.section-speaker-faq #content h3 { font-size: 1.385em; line-height: 1.25em; border-top: 1px dashed #c3cbd6; font-family: "Helvetica Neue", Arial, Helvetica, "Lucida Grande", Verdana, sans-serif; font-weight: bold; margin-top: 1em; padding-top: 1em; text-transform: none; }
.section-speaker-faq #content h3 a { color: #4c81c3; cursor: text; text-decoration: none; }

ul.questions { list-style-type: none; margin-left: 0; }
ul.questions li { padding: 1em 0; }
ul.questions li a { background: url('../images/icons.png?1320723745') 0 -620px no-repeat; display: block; font-weight: bold; padding-left: 24px; text-decoration: none; }
ul.questions li a:hover { background: url('../images/icons.png?1320723745') 0 -660px no-repeat; }

.contact-form .form-item { clear: both; float: left; margin-top: 0; width: 100%; }
.contact-form label { float: left; margin-right: 20px; width: 160px; }
.contact-form .form-textarea-wrapper { float: left; }
.contact-form .form-type-checkbox { margin-left: 180px; }
.contact-form .form-type-checkbox label { float: none; margin-right: 0; width: auto; }
.contact-form .form-actions { margin-left: 180px; padding-top: 0; }
@media screen and (max-width: 958px) { .contact-form .form-text { max-width: 98%; }
  .contact-form label { float: none; margin-right: 0; width: auto; }
  .contact-form .form-textarea-wrapper { float: none; }
  .contact-form .form-type-checkbox { margin-left: 0; }
  .contact-form .form-actions { margin-left: 0; } }

.sticky-header { z-index: 100; }

#field-session-qa-values { width: 99%; }
#field-session-qa-values .form-type-textarea { padding-left: 20px; position: relative; }
#field-session-qa-values td div label { position: absolute; left: 5px; top: 0; }

.page-program-sessions #content-wrapper, .page-program-sessions #sidebar-first, .page-program-sessions-featured #content-wrapper, .page-program-sessions-featured #sidebar-first, .page-program-sessions-review #content-wrapper, .page-program-sessions-review #sidebar-first, .page-program-sessions-proposed #content-wrapper, .page-program-sessions-proposed #sidebar-first { float: none; width: 100%; }
@media screen and (max-width: 958px) { .page-program-sessions #content-wrapper, .page-program-sessions #sidebar-first, .page-program-sessions-featured #content-wrapper, .page-program-sessions-featured #sidebar-first, .page-program-sessions-review #content-wrapper, .page-program-sessions-review #sidebar-first, .page-program-sessions-proposed #content-wrapper, .page-program-sessions-proposed #sidebar-first { width: auto; } }
.page-program-sessions #content, .page-program-sessions-featured #content, .page-program-sessions-review #content, .page-program-sessions-proposed #content { background: none; padding: 0; }
.page-program-sessions #content h1, .page-program-sessions-featured #content h1, .page-program-sessions-review #content h1, .page-program-sessions-proposed #content h1 { font-size: 3.692em; line-height: 2.25em; background: url('../images/bg-page-title.png?1313176329') 50% 0 no-repeat; color: white; margin-bottom: 0; text-align: center; }
.page-program-sessions #block-system-main, .page-program-sessions-featured #block-system-main, .page-program-sessions-review #block-system-main, .page-program-sessions-proposed #block-system-main { background-color: white; }
.page-program-sessions #block-system-main .view-header, .page-program-sessions-featured #block-system-main .view-header, .page-program-sessions-review #block-system-main .view-header, .page-program-sessions-proposed #block-system-main .view-header { padding: 18px 20px 8px 20px; }
.page-program-sessions #block-system-main .view-header p, .page-program-sessions-featured #block-system-main .view-header p, .page-program-sessions-review #block-system-main .view-header p, .page-program-sessions-proposed #block-system-main .view-header p { margin-bottom: 10px; }
.page-program-sessions #content form, .page-program-sessions-featured #content form, .page-program-sessions-review #content form, .page-program-sessions-proposed #content form { background-color: white; float: left; padding: 9px 0; width: 100%; }
.page-program-sessions #content form .views-exposed-form, .page-program-sessions-featured #content form .views-exposed-form, .page-program-sessions-review #content form .views-exposed-form, .page-program-sessions-proposed #content form .views-exposed-form { padding: 0 20px; }
.page-program-sessions #content form label, .page-program-sessions #content form .form-item, .page-program-sessions #content form .form-submit, .page-program-sessions-featured #content form label, .page-program-sessions-featured #content form .form-item, .page-program-sessions-featured #content form .form-submit, .page-program-sessions-review #content form label, .page-program-sessions-review #content form .form-item, .page-program-sessions-review #content form .form-submit, .page-program-sessions-proposed #content form label, .page-program-sessions-proposed #content form .form-item, .page-program-sessions-proposed #content form .form-submit { float: left; margin: 0; }
.page-program-sessions #content form label, .page-program-sessions-featured #content form label, .page-program-sessions-review #content form label, .page-program-sessions-proposed #content form label { margin-right: 10px; }
.page-program-sessions #content form .form-item, .page-program-sessions-featured #content form .form-item, .page-program-sessions-review #content form .form-item, .page-program-sessions-proposed #content form .form-item { height: 30px; margin-right: 20px; }
@media screen and (max-width: 480px) { .page-program-sessions #content form .views-exposed-widget, .page-program-sessions-featured #content form .views-exposed-widget, .page-program-sessions-review #content form .views-exposed-widget, .page-program-sessions-proposed #content form .views-exposed-widget { clear: both; } }
.page-program-sessions p.empty, .page-program-sessions-featured p.empty, .page-program-sessions-review p.empty, .page-program-sessions-proposed p.empty { font-size: 1.077em; line-height: 1.286em; border-top: 1px solid #c3cbd6; clear: both; display: block; font-weight: bold; padding: 36px 40px; text-align: center; }
.page-program-sessions .views-table, .page-program-sessions-featured .views-table, .page-program-sessions-review .views-table, .page-program-sessions-proposed .views-table { clear: both; border: none; width: 100%; }
.page-program-sessions .views-table caption, .page-program-sessions-featured .views-table caption, .page-program-sessions-review .views-table caption, .page-program-sessions-proposed .views-table caption { font-size: 1em; line-height: 1.385em; background-color: #0b2a5d; border-left: 1px solid #15499f; border-right: 1px solid #15499f; color: white; font-weight: bold; padding: 20px 20px; }
.page-program-sessions .views-table th, .page-program-sessions-featured .views-table th, .page-program-sessions-review .views-table th, .page-program-sessions-proposed .views-table th { font-size: 2.308em; line-height: 1.2em; background: #cc6600; background: #bf4c00 -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cc6600), color-stop(100%, #bf4c00)); background: #bf4c00 -webkit-linear-gradient(#cc6600, #bf4c00); background: #bf4c00 -moz-linear-gradient(#cc6600, #bf4c00); background: #bf4c00 -o-linear-gradient(#cc6600, #bf4c00); background: #bf4c00 -ms-linear-gradient(#cc6600, #bf4c00); background: #bf4c00 linear-gradient(#cc6600, #bf4c00); border-top: 1px solid #8c3800; font-family: "SteelfishBold", "Helvetica Neue", Arial, Helvetica, "Lucida Grande", Verdana, sans-serif; font-weight: normal; padding: 15px 20px; text-transform: uppercase; }
.page-program-sessions .views-table th a, .page-program-sessions-featured .views-table th a, .page-program-sessions-review .views-table th a, .page-program-sessions-proposed .views-table th a { color: white; text-decoration: none; vertical-align: middle; }
.page-program-sessions .views-table th a:hover, .page-program-sessions-featured .views-table th a:hover, .page-program-sessions-review .views-table th a:hover, .page-program-sessions-proposed .views-table th a:hover { color: #d1e5f7; }
.page-program-sessions .views-table th a img, .page-program-sessions-featured .views-table th a img, .page-program-sessions-review .views-table th a img, .page-program-sessions-proposed .views-table th a img { display: -moz-inline-box; -moz-box-orient: vertical; display: inline-block; vertical-align: middle; *vertical-align: auto; margin-left: 5px; }
.page-program-sessions .views-table th a img, .page-program-sessions-featured .views-table th a img, .page-program-sessions-review .views-table th a img, .page-program-sessions-proposed .views-table th a img { *display: inline; }
.page-program-sessions .views-table th.views-field-field-experience, .page-program-sessions .views-table th.views-field-field-track, .page-program-sessions-featured .views-table th.views-field-field-experience, .page-program-sessions-featured .views-table th.views-field-field-track, .page-program-sessions-review .views-table th.views-field-field-experience, .page-program-sessions-review .views-table th.views-field-field-track, .page-program-sessions-proposed .views-table th.views-field-field-experience, .page-program-sessions-proposed .views-table th.views-field-field-track { text-align: center; }
.page-program-sessions .views-table tbody tr, .page-program-sessions-featured .views-table tbody tr, .page-program-sessions-review .views-table tbody tr, .page-program-sessions-proposed .views-table tbody tr { border-bottom: 1px solid #d1e5f7; }
.page-program-sessions .views-table td, .page-program-sessions-featured .views-table td, .page-program-sessions-review .views-table td, .page-program-sessions-proposed .views-table td { padding: 15px 20px; vertical-align: top; }
.page-program-sessions .views-table td.views-field-field-experience, .page-program-sessions .views-table td.views-field-field-track, .page-program-sessions-featured .views-table td.views-field-field-experience, .page-program-sessions-featured .views-table td.views-field-field-track, .page-program-sessions-review .views-table td.views-field-field-experience, .page-program-sessions-review .views-table td.views-field-field-track, .page-program-sessions-proposed .views-table td.views-field-field-experience, .page-program-sessions-proposed .views-table td.views-field-field-track { font-size: 0.846em; line-height: 1.636em; border-left: 1px solid #e8f2fb; padding: 15px; text-align: center; width: 180px; }
.page-program-sessions .views-table td.views-field-field-experience strong, .page-program-sessions .views-table td.views-field-field-track strong, .page-program-sessions-featured .views-table td.views-field-field-experience strong, .page-program-sessions-featured .views-table td.views-field-field-track strong, .page-program-sessions-review .views-table td.views-field-field-experience strong, .page-program-sessions-review .views-table td.views-field-field-track strong, .page-program-sessions-proposed .views-table td.views-field-field-experience strong, .page-program-sessions-proposed .views-table td.views-field-field-track strong { display: -moz-inline-box; -moz-box-orient: vertical; display: inline-block; vertical-align: middle; *vertical-align: auto; -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; -ms-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; -moz-box-shadow: 0 1px 1px rgba(71, 95, 133, 0.5) inset; -webkit-box-shadow: 0 1px 1px rgba(71, 95, 133, 0.5) inset; -o-box-shadow: 0 1px 1px rgba(71, 95, 133, 0.5) inset; box-shadow: 0 1px 1px rgba(71, 95, 133, 0.5) inset; background-color: #4c81c3; color: white; padding: 0 6px; }
.page-program-sessions .views-table td.views-field-field-experience strong, .page-program-sessions .views-table td.views-field-field-track strong, .page-program-sessions-featured .views-table td.views-field-field-experience strong, .page-program-sessions-featured .views-table td.views-field-field-track strong, .page-program-sessions-review .views-table td.views-field-field-experience strong, .page-program-sessions-review .views-table td.views-field-field-track strong, .page-program-sessions-proposed .views-table td.views-field-field-experience strong, .page-program-sessions-proposed .views-table td.views-field-field-track strong { *display: inline; }
.page-program-sessions .views-table td.views-field-field-experience strong, .page-program-sessions-featured .views-table td.views-field-field-experience strong, .page-program-sessions-review .views-table td.views-field-field-experience strong, .page-program-sessions-proposed .views-table td.views-field-field-experience strong { background-color: #8494ae; }
.page-program-sessions .views-table td.session-title h3, .page-program-sessions-featured .views-table td.session-title h3, .page-program-sessions-review .views-table td.session-title h3, .page-program-sessions-proposed .views-table td.session-title h3 { font-size: 1.231em; line-height: 1.125em; font-family: "Helvetica Neue", Arial, Helvetica, "Lucida Grande", Verdana, sans-serif; font-weight: bold; margin-bottom: 0; text-transform: none; }
.page-program-sessions .views-table td.session-title h3 a, .page-program-sessions-featured .views-table td.session-title h3 a, .page-program-sessions-review .views-table td.session-title h3 a, .page-program-sessions-proposed .views-table td.session-title h3 a { color: #15499f; }
.page-program-sessions .views-table td.session-title h3 a:hover, .page-program-sessions-featured .views-table td.session-title h3 a:hover, .page-program-sessions-review .views-table td.session-title h3 a:hover, .page-program-sessions-proposed .views-table td.session-title h3 a:hover { color: #0b2a5d; }
.page-program-sessions .views-table td.session-title p, .page-program-sessions-featured .views-table td.session-title p, .page-program-sessions-review .views-table td.session-title p, .page-program-sessions-proposed .views-table td.session-title p { margin-bottom: 0; margin-top: 1em; }
.page-program-sessions .views-table td.session-title span, .page-program-sessions-featured .views-table td.session-title span, .page-program-sessions-review .views-table td.session-title span, .page-program-sessions-proposed .views-table td.session-title span { font-size: 0.846em; line-height: 1.636em; background: url('../images/icons.png?1320723745') 0 -400px no-repeat; display: block; padding-left: 20px; }
.page-program-sessions .views-table td.session-title span a, .page-program-sessions-featured .views-table td.session-title span a, .page-program-sessions-review .views-table td.session-title span a, .page-program-sessions-proposed .views-table td.session-title span a { color: #8494ae; text-decoration: none; }
.page-program-sessions .views-table td.session-title span a:hover, .page-program-sessions-featured .views-table td.session-title span a:hover, .page-program-sessions-review .views-table td.session-title span a:hover, .page-program-sessions-proposed .views-table td.session-title span a:hover { color: #475f85; }
.page-program-sessions .views-table td.session-title span a:hover, .page-program-sessions-featured .views-table td.session-title span a:hover, .page-program-sessions-review .views-table td.session-title span a:hover, .page-program-sessions-proposed .views-table td.session-title span a:hover { text-decoration: underline; }
@media screen and (max-width: 480px) { .page-program-sessions .views-table td.views-field-field-experience, .page-program-sessions .views-table td.views-field-field-track, .page-program-sessions .views-table th.views-field-field-experience, .page-program-sessions .views-table th.views-field-field-track, .page-program-sessions-featured .views-table td.views-field-field-experience, .page-program-sessions-featured .views-table td.views-field-field-track, .page-program-sessions-featured .views-table th.views-field-field-experience, .page-program-sessions-featured .views-table th.views-field-field-track, .page-program-sessions-review .views-table td.views-field-field-experience, .page-program-sessions-review .views-table td.views-field-field-track, .page-program-sessions-review .views-table th.views-field-field-experience, .page-program-sessions-review .views-table th.views-field-field-track, .page-program-sessions-proposed .views-table td.views-field-field-experience, .page-program-sessions-proposed .views-table td.views-field-field-track, .page-program-sessions-proposed .views-table th.views-field-field-experience, .page-program-sessions-proposed .views-table th.views-field-field-track { display: none; visibility: hidden; } }

.page-program-sessions-review .views-table caption { padding: 20px 10px; }
.page-program-sessions-review .views-table th { font-size: 1em; line-height: 1.385em; background: #cc6600; background: #bf4c00 -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cc6600), color-stop(100%, #bf4c00)); background: #bf4c00 -webkit-linear-gradient(#cc6600, #bf4c00); background: #bf4c00 -moz-linear-gradient(#cc6600, #bf4c00); background: #bf4c00 -o-linear-gradient(#cc6600, #bf4c00); background: #bf4c00 -ms-linear-gradient(#cc6600, #bf4c00); background: #bf4c00 linear-gradient(#cc6600, #bf4c00); border-top: 1px solid #8c3800; color: white; font-family: "Helvetica Neue", Arial, Helvetica, "Lucida Grande", Verdana, sans-serif; font-weight: bold; padding: 5px 10px; text-transform: none; }
.page-program-sessions-review .views-table td { padding: 5px 10px; font-size: 0.846em; line-height: 1.636em; }
.page-program-sessions-review .views-table td.views-field-title { font-weight: bold; }

.node-type-training .field, .node-type-session .field { border-top: 1px dashed #c3cbd6; clear: both; padding-top: 1em; }
.node-type-training .field-label, .node-type-session .field-label { font-size: 0.923em; line-height: 1.5em; color: #15499f; font-weight: bold; margin-bottom: 18px; }
.node-type-training .view-session-attach, .node-type-session .view-session-attach { border-top: 1px dashed #c3cbd6; clear: both; padding-top: 1em; }
.node-type-training .view-session-attach .view-header, .node-type-session .view-session-attach .view-header { float: left; width: 30%; }
.node-type-training .view-session-attach .view-header p, .node-type-session .view-session-attach .view-header p { font-size: 0.923em; line-height: 1.5em; color: #15499f; font-weight: bold; margin-bottom: 18px; line-height: 40px; margin-bottom: 0; }
.node-type-training .view-session-attach .view-content, .node-type-session .view-session-attach .view-content { float: left; width: 60%; }
.node-type-training .view-session-attach ul.list, .node-type-session .view-session-attach ul.list { list-style-type: none; margin-left: 0; }
.node-type-training .view-session-attach li.list-item, .node-type-session .view-session-attach li.list-item { float: left; line-height: 40px; margin-bottom: 18px; width: 45%; }
.node-type-training .view-session-attach li.list-item a, .node-type-session .view-session-attach li.list-item a { text-decoration: none; float: left; font-weight: bold; }
.node-type-training .view-session-attach li.list-item a:hover, .node-type-session .view-session-attach li.list-item a:hover { text-decoration: underline; }
.node-type-training .view-session-attach li.list-item .user-picture a, .node-type-session .view-session-attach li.list-item .user-picture a { float: left; padding-right: 10px; }
.node-type-training .view-session-attach li.list-item .user-picture a img, .node-type-session .view-session-attach li.list-item .user-picture a img { float: left; }
.node-type-training .field-name-field-track .field-label, .node-type-training .field-name-field-experience .field-label, .node-type-session .field-name-field-track .field-label, .node-type-session .field-name-field-experience .field-label { float: left; width: 30%; }
.node-type-training .field-name-field-track .field-item, .node-type-training .field-name-field-experience .field-item, .node-type-session .field-name-field-track .field-item, .node-type-session .field-name-field-experience .field-item { font-size: 0.846em; line-height: 1.636em; display: -moz-inline-box; -moz-box-orient: vertical; display: inline-block; vertical-align: middle; *vertical-align: auto; -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; -ms-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; -moz-box-shadow: 0 1px 1px rgba(71, 95, 133, 0.5) inset; -webkit-box-shadow: 0 1px 1px rgba(71, 95, 133, 0.5) inset; -o-box-shadow: 0 1px 1px rgba(71, 95, 133, 0.5) inset; box-shadow: 0 1px 1px rgba(71, 95, 133, 0.5) inset; background-color: #4c81c3; color: white; padding: 0 6px; }
.node-type-training .field-name-field-track .field-item, .node-type-training .field-name-field-experience .field-item, .node-type-session .field-name-field-track .field-item, .node-type-session .field-name-field-experience .field-item { *display: inline; }
.node-type-training .field-name-field-experience .field-item, .node-type-session .field-name-field-experience .field-item { background-color: #8494ae; }
.node-type-training .field-name-field-featured .field-label, .node-type-training .field-name-field-recorded .field-label, .node-type-training .field-name-field-session-speaker-example .field-label, .node-type-training .field-name-field-session-qa .field-label, .node-type-session .field-name-field-featured .field-label, .node-type-session .field-name-field-recorded .field-label, .node-type-session .field-name-field-session-speaker-example .field-label, .node-type-session .field-name-field-session-qa .field-label { margin-bottom: .5em; }
.node-type-training .field-name-field-featured .field-items, .node-type-training .field-name-field-recorded .field-items, .node-type-training .field-name-field-session-speaker-example .field-items, .node-type-training .field-name-field-session-qa .field-items, .node-type-session .field-name-field-featured .field-items, .node-type-session .field-name-field-recorded .field-items, .node-type-session .field-name-field-session-speaker-example .field-items, .node-type-session .field-name-field-session-qa .field-items { margin-bottom: 1em; }
.node-type-training .field-name-field-featured .field-item, .node-type-training .field-name-field-recorded .field-item, .node-type-training .field-name-field-session-speaker-example .field-item, .node-type-training .field-name-field-session-qa .field-item, .node-type-session .field-name-field-featured .field-item, .node-type-session .field-name-field-recorded .field-item, .node-type-session .field-name-field-session-speaker-example .field-item, .node-type-session .field-name-field-session-qa .field-item { font-size: 0.923em; line-height: 1.5em; }
.node-type-training .field-name-field-speakers .field-label, .node-type-training .field-name-field-training-company .field-label, .node-type-training .field-name-field-featured .field-label, .node-type-training .field-name-field-recorded .field-label, .node-type-training .field-name-field-slides .field-label, .node-type-training .field-name-field-session-speaker-exp .field-label, .node-type-session .field-name-field-speakers .field-label, .node-type-session .field-name-field-training-company .field-label, .node-type-session .field-name-field-featured .field-label, .node-type-session .field-name-field-recorded .field-label, .node-type-session .field-name-field-slides .field-label, .node-type-session .field-name-field-session-speaker-exp .field-label { float: left; width: 30%; }
.node-type-training .field-name-field-speakers .field-item, .node-type-training .field-name-field-training-company .field-item, .node-type-training .field-name-field-featured .field-item, .node-type-training .field-name-field-recorded .field-item, .node-type-training .field-name-field-slides .field-item, .node-type-training .field-name-field-session-speaker-exp .field-item, .node-type-session .field-name-field-speakers .field-item, .node-type-session .field-name-field-training-company .field-item, .node-type-session .field-name-field-featured .field-item, .node-type-session .field-name-field-recorded .field-item, .node-type-session .field-name-field-slides .field-item, .node-type-session .field-name-field-session-speaker-exp .field-item { font-size: 0.923em; line-height: 1.5em; }
.node-type-training .field-name-field-speakers .field-item, .node-type-session .field-name-field-speakers .field-item { display: inline; margin-right: 5px; }

.rate-widget { -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px; background-color: #d1e5f7; padding: 5px 10px; }
.rate-widget h2 { color: #15499f; line-height: 1.5em; margin-bottom: 5px; padding: 0 10px; text-align: center; }
.rate-widget .item-list ul { margin: 0; }
.rate-widget .item-list ul li { background-color: white; display: block; float: none; margin: 0 0 1px 0; padding: 5px; }
.rate-widget .item-list ul li a.rate-emotion-btn { -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; -ms-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; background: none; border: none; color: #15499f !important; float: none; margin: 0; padding: 5px 10px; text-decoration: none; }
.rate-widget .item-list ul li a.rate-emotion-btn:hover { background-color: #e8f2fb; color: #0b2a5d !important; text-decoration: underline; }
.rate-widget .item-list ul li.first { -moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px; -o-border-top-left-radius: 3px; -ms-border-top-left-radius: 3px; -khtml-border-top-left-radius: 3px; border-top-left-radius: 3px; -moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px; -o-border-top-right-radius: 3px; -ms-border-top-right-radius: 3px; -khtml-border-top-right-radius: 3px; border-top-right-radius: 3px; }
.rate-widget .item-list ul li.last { -moz-border-radius-bottomleft: 3px; -webkit-border-bottom-left-radius: 3px; -o-border-bottom-left-radius: 3px; -ms-border-bottom-left-radius: 3px; -khtml-border-bottom-left-radius: 3px; border-bottom-left-radius: 3px; -moz-border-radius-bottomright: 3px; -webkit-border-bottom-right-radius: 3px; -o-border-bottom-right-radius: 3px; -ms-border-bottom-right-radius: 3px; -khtml-border-bottom-right-radius: 3px; border-bottom-right-radius: 3px; }
.rate-widget .rate-info { font-size: 1.154em; line-height: 1.2em; color: #15499f; font-weight: bold; padding: 15px 10px 10px; text-align: center; }
.rate-widget .rate-description { padding: 10px 10px 5px; text-align: center; }

ul.themes { list-style-type: none; margin-left: 0; }
ul.themes li { border-top: 1px dashed #c3cbd6; padding-top: 1em; }

.search-form { -moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; -ms-border-radius: 6px; -khtml-border-radius: 6px; border-radius: 6px; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #ecf4fc)); background-image: -webkit-linear-gradient(#ffffff, #ecf4fc); background-image: -moz-linear-gradient(#ffffff, #ecf4fc); background-image: -o-linear-gradient(#ffffff, #ecf4fc); background-image: -ms-linear-gradient(#ffffff, #ecf4fc); background-image: linear-gradient(#ffffff, #ecf4fc); -moz-box-shadow: 0 0 20px white inset; -webkit-box-shadow: 0 0 20px white inset; -o-box-shadow: 0 0 20px white inset; box-shadow: 0 0 20px white inset; border: 1px solid #d1e5f7; border-bottom-color: #a6ccef; margin-bottom: 36px; padding: 18px 20px; }
.search-form #edit-basic { margin-bottom: 1em; }
.search-form fieldset.collapsible { border-bottom: none; margin-bottom: 0; padding-bottom: 0; }

ol.search-results { margin-left: 0; }
ol.search-results li.search-result { border-top: 1px dashed #c3cbd6; margin-bottom: 0; padding: 18px 20px; }
ol.search-results h3.title { font-size: 1.154em; line-height: 1.2em; font-family: "Helvetica Neue", Arial, Helvetica, "Lucida Grande", Verdana, sans-serif; font-weight: bold; margin-bottom: 1em; text-transform: none; }
ol.search-results .search-snippet strong { background-color: #e8f2fb; padding: 0 2px; }
ol.search-results .search-info { font-size: 0.846em; line-height: 1.636em; margin-bottom: 0; }

.section-user.not-logged-in #content h1 { display: none; visibility: hidden; }

.profile { position: relative; }
.profile .user-picture { position: absolute; right: 0; top: 0; }

#comments { clear: both; margin: 0; padding-top: 2em; }
#comments h2.title { border-top: 1px dashed #c3cbd6; clear: both; padding-top: 1em; }

div.comment { *zoom: 1; margin-bottom: 18px; position: relative; }
div.comment:after { content: "\0020"; display: block; height: 0; clear: both; overflow: hidden; visibility: hidden; }
div.comment .content { -moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; -ms-border-radius: 6px; -khtml-border-radius: 6px; border-radius: 6px; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #ecf4fc)); background-image: -webkit-linear-gradient(#ffffff, #ecf4fc); background-image: -moz-linear-gradient(#ffffff, #ecf4fc); background-image: -o-linear-gradient(#ffffff, #ecf4fc); background-image: -ms-linear-gradient(#ffffff, #ecf4fc); background-image: linear-gradient(#ffffff, #ecf4fc); -moz-box-shadow: 0 0 20px white inset; -webkit-box-shadow: 0 0 20px white inset; -o-box-shadow: 0 0 20px white inset; box-shadow: 0 0 20px white inset; border: 1px solid #d1e5f7; border-bottom-color: #a6ccef; margin-bottom: 9px; padding: 18px 20px 9px 20px; }
div.comment .content h3 { font-size: 1.154em; line-height: 1.2em; font-family: "Helvetica Neue", Arial, Helvetica, "Lucida Grande", Verdana, sans-serif; font-weight: bold; text-transform: none; }
div.comment .content p { font-size: 0.923em; line-height: 1.5em; }
div.comment .new { font-size: 0.769em; line-height: 1.8em; background: url('../images/icons.png?1320723745') 0 -920px no-repeat; color: white; font-weight: bold; line-height: 30px; position: absolute; right: -10px; text-align: center; text-transform: uppercase; top: -15px; width: 30px; }
div.comment .submitted { background: url('../images/bg-comment-submitted.png?1313176329') 18px 0 no-repeat; float: left; margin-top: -10px; padding-top: 10px; padding-left: 40px; }
div.comment .submitted .permalink { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25); opacity: 0.25; position: absolute; left: -20px; top: 0; }
@media screen and (max-width: 958px) { div.comment .submitted .permalink { position: relative; left: auto; top: auto; } }
div.comment ul.links { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25); opacity: 0.25; float: right; }
div.comment ul.links li { margin-left: 20px; margin-right: 0; }
div.comment:hover ul.links, div.comment:hover .submitted .permalink { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }

#block-google-admanager-70c440c1698a7bde805ce5bd4e7dc31c { width: 100%; }

#google_ads_div_denver-sponors-page_ad_container .view { width: 540px; }
@media screen and (max-width: 958px) { #google_ads_div_denver-sponors-page_ad_container .view { margin: 0; width: 94%; } }
#google_ads_div_denver-sponors-page_ad_container .item-list h2 { font-size: 2.308em; line-height: 1.2em; background-color: #e8f2fb; border-top: 1px solid #83bae8; clear: both; margin-top: 1em; padding-bottom: .25em; padding-top: .25em; text-align: center; }
#google_ads_div_denver-sponors-page_ad_container .item-list ul { float: left; list-style-type: none; margin: 0; width: 100%; }
#google_ads_div_denver-sponors-page_ad_container .item-list ul li { -moz-transition-property: all; -webkit-transition-property: all; -o-transition-property: all; transition-property: all; -moz-transition-duration: 0.15s; -webkit-transition-duration: 0.15s; -o-transition-duration: 0.15s; transition-duration: 0.15s; float: left; margin: 0 0 1em 0; text-align: center; height: 110px; width: 25%; }
#google_ads_div_denver-sponors-page_ad_container .item-list ul li a { display: block; line-height: 100px; text-align: center; }
#google_ads_div_denver-sponors-page_ad_container .item-list ul li a:hover img { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60); opacity: 0.6; }
#google_ads_div_denver-sponors-page_ad_container .item-list ul li strong { font-family: "SteelfishBold", "Helvetica Neue", Arial, Helvetica, "Lucida Grande", Verdana, sans-serif; font-weight: normal; font-size: 1.846em; line-height: 1.125em; }
#google_ads_div_denver-sponors-page_ad_container .item-list ul li strong a { line-height: 1em; margin-bottom: .25em; }
#google_ads_div_denver-sponors-page_ad_container .item-list img { -moz-transition-property: all; -webkit-transition-property: all; -o-transition-property: all; transition-property: all; -moz-transition-duration: 0.15s; -webkit-transition-duration: 0.15s; -o-transition-duration: 0.15s; transition-duration: 0.15s; display: block; display: inline; display: inline-table; display: inline-block; vertical-align: middle; margin: 0 auto; max-height: 100px; max-width: 80%; }
#google_ads_div_denver-sponors-page_ad_container .diamond ul li { width: 50%; }
#google_ads_div_denver-sponors-page_ad_container .platinum ul li { width: 33%; }
@media screen and (max-width: 958px) { #google_ads_div_denver-sponors-page_ad_container .item-list ul li { width: 33%; }
  #google_ads_div_denver-sponors-page_ad_container .diamond ul li { width: 100%; }
  #google_ads_div_denver-sponors-page_ad_container .platinum ul li { width: 50%; } }
@media screen and (max-width: 600px) { #google_ads_div_denver-sponors-page_ad_container .item-list ul li { width: 50%; height: 65px; }
  #google_ads_div_denver-sponors-page_ad_container .item-list ul li a { line-height: 60px; }
  #google_ads_div_denver-sponors-page_ad_container .item-list ul li strong a { line-height: 1em; }
  #google_ads_div_denver-sponors-page_ad_container .item-list ul li img { max-height: 60px; max-width: 80%; }
  #google_ads_div_denver-sponors-page_ad_container .diamond ul li { width: 100%; }
  #google_ads_div_denver-sponors-page_ad_container .platinum ul li { width: 50%; } }
@media screen and (max-width: 480px) { #google_ads_div_denver-sponors-page_ad_container .item-list ul li { height: 65px; width: 100%; }
  #google_ads_div_denver-sponors-page_ad_container .item-list ul li a { line-height: 60px; }
  #google_ads_div_denver-sponors-page_ad_container .item-list ul li strong a { line-height: 1em; }
  #google_ads_div_denver-sponors-page_ad_container .item-list ul li img { max-height: 60px; }
  #google_ads_div_denver-sponors-page_ad_container .diamond ul li, #google_ads_div_denver-sponors-page_ad_container .platinum ul li { width: 100%; }
  #google_ads_div_denver-sponors-page_ad_container .diamond ul li img, #google_ads_div_denver-sponors-page_ad_container .platinum ul li img { max-width: 100%; } }

/*
.section-sponsor-badges { #content-wrapper { float: none; width: 100%; @media screen and (max-width: 958px) { width: auto; } } #sidebar-first { float: none; width: 100%; @media screen and (max-width: 958px) { width: auto; } }
}
*/
ul.badges { border-top: 1px dotted #c3cbd6; clear: both; list-style-type: none; margin: 0; padding-top: 20px; }
ul.badges li { float: left; margin-bottom: 20px; width: 100%; }
ul.badges img { -moz-box-shadow: 0 1px 5px rgba(132, 148, 174, 0.5), 0 1px 0 rgba(132, 148, 174, 0.5); -webkit-box-shadow: 0 1px 5px rgba(132, 148, 174, 0.5), 0 1px 0 rgba(132, 148, 174, 0.5); -o-box-shadow: 0 1px 5px rgba(132, 148, 174, 0.5), 0 1px 0 rgba(132, 148, 174, 0.5); box-shadow: 0 1px 5px rgba(132, 148, 174, 0.5), 0 1px 0 rgba(132, 148, 174, 0.5); clear: left; float: left; margin-right: 10px; }
ul.badges code { -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px; background-color: rgba(195, 203, 214, 0.25); border: 1px solid rgba(195, 203, 214, 0.5); display: block; padding: 10px 20px; }

ul.badges-small code { margin-left: 140px; }

ul.badges-tall code { margin-left: 180px; }

ul.badges-medium code { margin-left: 200px; }

ul.badges-large code { margin-left: 320px; }

@media screen and (max-width: 600px) { ul.badges li { margin-bottom: 30px; text-align: center; }
  ul.badges img { float: none; margin-bottom: 10px; }
  ul.badges code { margin-left: 0 !important; text-align: left; } }
.aside .block { background: #071e41; background: rgba(0, 0, 0, 0.25); margin-bottom: 1em; padding: 18px 20px; }
.aside .block h2.block-title { border-bottom: 1px dashed #475f85; color: white; margin-bottom: 18px; padding-bottom: 18px; text-align: center; }
.aside .block p { color: #83bae8; }
.aside .block a { color: #e8f2fb; }
.aside .block a:hover { color: white; }

#block-menu-block-2 { background: none; padding: 0; }
#block-menu-block-2 ul { -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; -ms-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25); -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25); -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25); background-color: #15499f; float: none; list-style-type: none; margin: 0; padding: 10px; }
#block-menu-block-2 ul li { display: block; }
#block-menu-block-2 ul li a { font-size: 1em; line-height: 1.385em; -moz-border-radius: 2px; -webkit-border-radius: 2px; -o-border-radius: 2px; -ms-border-radius: 2px; -khtml-border-radius: 2px; border-radius: 2px; color: white; -moz-transition-property: all; -webkit-transition-property: all; -o-transition-property: all; transition-property: all; -moz-transition-duration: 0.15s; -webkit-transition-duration: 0.15s; -o-transition-duration: 0.15s; transition-duration: 0.15s; background-color: #15499f; display: block; font-family: "Helvetica Neue", Arial, Helvetica, "Lucida Grande", Verdana, sans-serif; font-weight: bold; padding: 5px 10px; text-decoration: none; text-transform: none; }
#block-menu-block-2 ul li a:hover { color: #e8f2fb; }
#block-menu-block-2 ul li a:hover { -moz-box-shadow: 0 1px 3px rgba(7, 30, 65, 0.75) inset; -webkit-box-shadow: 0 1px 3px rgba(7, 30, 65, 0.75) inset; -o-box-shadow: 0 1px 3px rgba(7, 30, 65, 0.75) inset; box-shadow: 0 1px 3px rgba(7, 30, 65, 0.75) inset; background-color: #0b2a5d; }
#block-menu-block-2 ul li a.active-trail { -moz-box-shadow: 0 1px 3px rgba(7, 30, 65, 0.75); -webkit-box-shadow: 0 1px 3px rgba(7, 30, 65, 0.75); -o-box-shadow: 0 1px 3px rgba(7, 30, 65, 0.75); box-shadow: 0 1px 3px rgba(7, 30, 65, 0.75); background-color: white; color: #15499f; }

#block-google-admanager-d78f9abdcfd0f0dc49ff4c00d1c90038 { background-color: white; margin-left: auto; margin-right: auto; max-width: 300px; padding: 0; }

#footer { color: white; padding-top: 6px; }
#footer .container p { font-size: 0.846em; line-height: 1.636em; }
#footer .container a { color: #e8f2fb; }
#footer .container a:hover { color: white; }
#footer .container a.rss { color: white; position: absolute; right: 0; top: 0; }
#footer .container a.rss:hover { color: white; }
#footer .container #block-block-14 { clear: both; padding-right: 60px; position: relative; }

#footer .block-google-admanager { -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px; -moz-box-shadow: 0 -5px 5px #e8f2fb inset, 0 1px 3px rgba(0, 0, 0, 0.25); -webkit-box-shadow: 0 -5px 5px #e8f2fb inset, 0 1px 3px rgba(0, 0, 0, 0.25); -o-box-shadow: 0 -5px 5px #e8f2fb inset, 0 1px 3px rgba(0, 0, 0, 0.25); box-shadow: 0 -5px 5px #e8f2fb inset, 0 1px 3px rgba(0, 0, 0, 0.25); background: white; margin-bottom: 12px; padding: 10px 20px; }
#footer .block-google-admanager h2.block-title { float: left; line-height: 60px; }
@media screen and (max-width: 958px) { #footer .block-google-admanager h2.block-title { font-size: 1.846em; line-height: 1.125em; float: none; text-align: center; } }
#footer .block-google-admanager .gam-holder { margin-left: 160px; margin-right: 0; }
@media screen and (max-width: 958px) { #footer .block-google-admanager .gam-holder { margin: 0 auto; } }

#gam-content-denver-platinum { width: 700px; }
@media screen and (max-width: 958px) { #gam-content-denver-platinum { width: 80%; } }

#google_ads_div_denver-platinum_ad_container .item-list { width: 700px; }
#google_ads_div_denver-platinum_ad_container .item-list ul { float: left; list-style-type: none; margin: 0; width: 100%; }
#google_ads_div_denver-platinum_ad_container .item-list ul li { float: left; height: 65px; margin: 0; width: 25%; }
#google_ads_div_denver-platinum_ad_container .item-list ul li div, #google_ads_div_denver-platinum_ad_container .item-list ul li span { float: left; width: 100%; }
#google_ads_div_denver-platinum_ad_container .item-list ul li a { display: block; line-height: 60px; text-align: center; }
#google_ads_div_denver-platinum_ad_container .item-list ul li a:hover img { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80); opacity: 0.8; }
#google_ads_div_denver-platinum_ad_container .item-list ul li img { -moz-transition-property: all; -webkit-transition-property: all; -o-transition-property: all; transition-property: all; -moz-transition-duration: 0.15s; -webkit-transition-duration: 0.15s; -o-transition-duration: 0.15s; transition-duration: 0.15s; display: block; display: inline; display: inline-table; display: inline-block; vertical-align: middle; margin: 0 auto; max-height: 60px; max-width: 70%; }
@media screen and (max-width: 958px) { #google_ads_div_denver-platinum_ad_container .item-list { width: 600px; }
  #google_ads_div_denver-platinum_ad_container .item-list ul li { width: 50%; } }
@media screen and (max-width: 620px) { #google_ads_div_denver-platinum_ad_container .item-list { width: 300px; }
  #google_ads_div_denver-platinum_ad_container .item-list ul li { clear: both; width: 100%; } }

a.rss { font-size: 0.846em; line-height: 1.636em; -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; -ms-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; -moz-box-shadow: 0 0 5px #ec9329 inset, 0 1px 1px rgba(7, 30, 65, 0.5); -webkit-box-shadow: 0 0 5px #ec9329 inset, 0 1px 1px rgba(7, 30, 65, 0.5); -o-box-shadow: 0 0 5px #ec9329 inset, 0 1px 1px rgba(7, 30, 65, 0.5); box-shadow: 0 0 5px #ec9329 inset, 0 1px 1px rgba(7, 30, 65, 0.5); background: #e0591a; background: #e0591a -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ec9329), color-stop(100%, #e0591a)); background: #e0591a -webkit-linear-gradient(#ec9329, #e0591a); background: #e0591a -moz-linear-gradient(#ec9329, #e0591a); background: #e0591a -o-linear-gradient(#ec9329, #e0591a); background: #e0591a -ms-linear-gradient(#ec9329, #e0591a); background: #e0591a linear-gradient(#ec9329, #e0591a); color: white; float: left; font-weight: bold; padding: 0 4px 0 0; text-decoration: none; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25); }
a.rss span { display: block; background: url('../images/icons.png?1320723745') 0 -1060px no-repeat; padding-left: 20px; }
a.rss:hover { background: #ec9329; background: #ec9329 -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ee820f), color-stop(100%, #ec9329)); background: #ec9329 -webkit-linear-gradient(#ee820f, #ec9329); background: #ec9329 -moz-linear-gradient(#ee820f, #ec9329); background: #ec9329 -o-linear-gradient(#ee820f, #ec9329); background: #ec9329 -ms-linear-gradient(#ee820f, #ec9329); background: #ec9329 linear-gradient(#ee820f, #ec9329); -moz-box-shadow: 0 0 5px #ee820f inset, 0 1px 1px #071e41; -webkit-box-shadow: 0 0 5px #ee820f inset, 0 1px 1px #071e41; -o-box-shadow: 0 0 5px #ee820f inset, 0 1px 1px #071e41; box-shadow: 0 0 5px #ee820f inset, 0 1px 1px #071e41; }

#block-block-29 p { font-size: 0.923em; line-height: 1.2em; padding-left: 14px; }
#block-block-29 time { background: url('../images/icons.png?1320723745') 0 -320px no-repeat; color: #d97f00; margin-left: -14px; padding-left: 14px; }

#mc_embed_signup { color: white; }
#mc_embed_signup .indicates-required { font-size: 0.923em; line-height: 1.2em; margin-bottom: 10px; }
#mc_embed_signup .mc-field-group { margin-bottom: 10px; }
#mc_embed_signup label { font-size: 0.923em; line-height: 1.2em; color: #83bae8; }
#mc_embed_signup .asterisk { color: white; }
#mc_embed_signup select { max-width: 95%; }
#mc_embed_signup .input-group ul { list-style-type: none; margin: 0; }
#mc_embed_signup .input-group ul li { clear: both; }
#mc_embed_signup .input-group ul li input { float: left; margin-right: 5px; }

#toolbar { -moz-box-shadow: none; -webkit-box-shadow: none; -o-box-shadow: none; box-shadow: none; }

#messages { background: black; background: rgba(0, 0, 0, 0.5); -moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; -ms-border-radius: 6px; -khtml-border-radius: 6px; border-radius: 6px; color: #83bae8; margin-bottom: 1em; padding: 18px 20px; }
#messages a { color: white; }

#tabs { background-color: white; background: transparent -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #e8f2fb)); background: transparent -webkit-linear-gradient(#ffffff, #e8f2fb); background: transparent -moz-linear-gradient(#ffffff, #e8f2fb); background: transparent -o-linear-gradient(#ffffff, #e8f2fb); background: transparent -ms-linear-gradient(#ffffff, #e8f2fb); background: transparent linear-gradient(#ffffff, #e8f2fb); -moz-border-radius-topleft: 6px; -webkit-border-top-left-radius: 6px; -o-border-top-left-radius: 6px; -ms-border-top-left-radius: 6px; -khtml-border-top-left-radius: 6px; border-top-left-radius: 6px; -moz-border-radius-topright: 6px; -webkit-border-top-right-radius: 6px; -o-border-top-right-radius: 6px; -ms-border-top-right-radius: 6px; -khtml-border-top-right-radius: 6px; border-top-right-radius: 6px; -moz-box-shadow: 0 0 10px white inset; -webkit-box-shadow: 0 0 10px white inset; -o-box-shadow: 0 0 10px white inset; box-shadow: 0 0 10px white inset; border-bottom: 1px solid #8494ae; float: left; width: 100%; }
#tabs ul.primary { border-right: 1px solid white; float: left; list-style-type: none; margin-bottom: 0; margin-left: 0; }
#tabs ul.primary li { border-left: 1px solid white; border-right: 1px solid #d1e5f7; float: left; font-size: 12px; font-weight: bold; padding: 6px; position: relative; text-transform: uppercase; }
#tabs ul.primary li:first-child { border-left: none; }
#tabs ul.primary li a { -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; -ms-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; text-shadow: white 0 1px 0; float: left; line-height: 30px; padding: 0 12px; text-decoration: none; }
#tabs ul.primary li a.active, #tabs ul.primary li a:hover { -moz-box-shadow: 0 1px 0 rgba(11, 42, 93, 0.3) inset, 0 0 0 1px rgba(11, 42, 93, 0.15) inset, 0 0 5px 2px white inset; -webkit-box-shadow: 0 1px 0 rgba(11, 42, 93, 0.3) inset, 0 0 0 1px rgba(11, 42, 93, 0.15) inset, 0 0 5px 2px white inset; -o-box-shadow: 0 1px 0 rgba(11, 42, 93, 0.3) inset, 0 0 0 1px rgba(11, 42, 93, 0.15) inset, 0 0 5px 2px white inset; box-shadow: 0 1px 0 rgba(11, 42, 93, 0.3) inset, 0 0 0 1px rgba(11, 42, 93, 0.15) inset, 0 0 5px 2px white inset; background: white -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #e8f2fb)); background: white -webkit-linear-gradient(#ffffff, #e8f2fb); background: white -moz-linear-gradient(#ffffff, #e8f2fb); background: white -o-linear-gradient(#ffffff, #e8f2fb); background: white -ms-linear-gradient(#ffffff, #e8f2fb); background: white linear-gradient(#ffffff, #e8f2fb); text-shadow: white 0 1px 0; }
#tabs ul.primary li a.active { background: white; color: #cc6600; }
#tabs ul.primary li a.active:hover { color: #bf4c00; }
