/*------------------------------------*\
  RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0b1 | 201101
   NOTE:WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */

html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{
  display:block;
}
body{
  line-height:1;
}
ol,ul{
  list-style:none;
}
blockquote,q{
  quotes:none;
}
blockquote:before,blockquote:after,
q:before,q:after{
  content:'';
  content:none;
}
/* remember to define visible focus styles!
:focus{
  outline:?????;
} */

/* remember to highlight inserts somehow! */
ins{
  text-decoration:none;
}
del{
  text-decoration:line-through;
}

table{
  border-collapse:collapse;
  border-spacing:0;
}

/* >> The Magnificent CLEARFIX: Updated to prevent margin-collapsing on child elements << j.mp/bestclearfix */
.clearfix:before, .clearfix:after {
  content: "\0020"; display: block; height: 0; visibility: hidden;
}

.clearfix:after { clear: both; }
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix { zoom: 1; }

/*------------------------------------*\
  MAIN
\*------------------------------------*/

body {
  background-color: #2f4f95;
  background-color: #0b2a5d;
  font-family: "Helvetica Neue", Arial, Helvetica, "Lucida Grande", Verdana, sans-serif;
}

a {
  color: #a2cbee;
}
a:hover {
  color: #ffffff;
}

section.slide {
  margin: 0 auto;
  position: relative;
  width: 900px;
  z-index: 1000;
}
section.slide img {
  display: block;
}

section.slide p {
  color: #fff;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(0,0,0,.5);
}

section.slide h2 {
  color: #fff;
  font-family: "SteelfishBold", "Helvetica Neue", Arial, Helvetica, "Lucida Grande", Verdana, sans-serif;
  font-size: 70px;
  line-height: 70px;
  text-shadow: 0 1px 0 rgba(0,0,0,.5);
  text-transform: uppercase;
}
section.slide h2 strong {
  color: #d1e5f7;
}
section.slide h2 small {
  color: #d1e5f7;
  font-size: 30px;
}

section.slide h3 {
  color: #fff;
  font-family: "SteelfishBold", "Helvetica Neue", Arial, Helvetica, "Lucida Grande", Verdana, sans-serif;
  font-size: 48px;
  line-height: 50px;
  text-shadow: 0 1px 0 rgba(0,0,0,.5);
  text-transform: uppercase;
}

.gallery {
  display: inline;
  float: right;
  position: relative;
  width: 525px;
}

.gallery .photos {
  display: inline;
  float: left;
  height: 300px;
  margin-left: 75px;
  position: relative;
  width: 375px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.5);
  -moz-box-shadow: 0 1px 4px rgba(0,0,0,.5);
  box-shadow: 0 1px 4px rgba(0,0,0,.5);
}

.gallery .photos li {
  left: 0;
  position: absolute;
  top: 0;
}
.gallery .photos li.current {
  z-index: 400;
}

.gallery .photos li.previous {
  z-index: 300;
}

.gallery .next {
  background: url(../images/arrows.png) 100% 0 no-repeat;
  height: 40px;
  margin-top: -20px;
  overflow: hidden;
  position: absolute;
  right: 25px;
  text-indent: -9999px;
  top: 50%;
  width: 40px;
}
.gallery .next:hover {
  background-position: 100% 100%;
}
.gallery .back {
  background: url(../images/arrows.png) 0 0 no-repeat;
  height: 40px;
  left: 25px;
  margin-top: -20px;
  overflow: hidden;
  position: absolute;
  text-indent: -9999px;
  top: 50%;
  width: 40px;
}
.gallery .back:hover {
  background-position: 0 100%;
}
#content {
  padding-bottom: 100px;
  position: relative;
}

/*------------------------------------
  SLIDES
------------------------------------*/

/*  Slide 1 - Intro */

#slide1 {
  height: 400px;
  overflow: hidden;
}

#slide1 .drop {
  left: 50%;
  margin-left: -50px;
  position: absolute;
  top: 20px;
}

#slide1 h1 {
  background: url(../images/header-drupalConDenver.png) 50% 50% no-repeat;
  height: 130px;
  left: 50%;
  line-height: 130px;
  margin-left: -300px;
  overflow: hidden;
  position: absolute;
  text-indent: -9999px;
  top: 150px;
  width: 600px;
}

#slide1 h2 {
  background: url(../images/header-date.png) 50% 50% no-repeat;
  height: 40px;
  left: 50%;
  line-height: 40px;
  margin-left: -300px;
  overflow: hidden;
  position: absolute;
  text-indent: -9999px;
  top: 290px;
  width: 600px;
}

/*  Slide 2 - Drupal Elevated */

#slide2 {
  background: url(../images/drupalElevated-bg.jpg) no-repeat;
  height: 600px;
}

#slide2 .content {
  margin-left: 75px;
  padding-top: 50px;
  width: 301px;
}

#slide2 h2 {
  background: url(../images/drupalElevated-header.png) 0 0 no-repeat;
  height: 150px;
  overflow: hidden;
  text-indent: -9999px;
  width: 301px;
}

#slide2 #beyond {
  background-color: rgba(0,0,0,.1);
  bottom: 0;
  padding: 40px 465px 40px 175px;
  position: absolute;
  width: 260px;
}

#slide2 #badge {
  left: -20px;
  margin-top: -85px;
  position: absolute;
  top: 50%;
}

#linuxJournal {
  bottom: 100px;
  position: absolute;
  right: 0;
  z-index: 5;
}
#dcfsPhoto {
  bottom: 0;
  position: absolute;
  right: 0;
  z-index: 4;
}
#launchParties {
  bottom: 0;
  position: absolute;
  right: 120px;
  z-index: 3;
}
#drupalWebsite {
  bottom: 0;
  position: absolute;
  right: 30px;
  z-index: 2;
}

/*  Slide 3 - Denver  */

#slide3 {
  background: #15499f url(../images/denver-bg.jpg) 0 0 no-repeat;
  height: 900px;
}

#slide3 h2 {
  background: url(../images/denver-header.png) 50% 50% no-repeat;
  height: 200px;
  overflow: hidden;
  position: absolute;
  text-indent: -9999px;
  top: 40px;
  width: 100%;
}

#slide3 .content {
  display: inline;
  float: left;
  margin-left: 75px;
  padding-top: 580px;
  width: 300px;
}

#slide3 .gallery {
  top: 530px;
}

/*  Slide 4 - Location  */

#slide4 {
  background: #15499f;
  height: 800px;
  overflow: hidden;
}

#slide4 .content {
  margin-left: 75px;
  padding-top: 50px;
  position: relative;
  width: 450px;
  z-index: 100;
}

#slide4 #map {
  left: 0;
  position: absolute;
  top: 0;
}

/*  Slide 5 - Business  */

#slide5 {
  background: #15499f;
  height: 650px;
  position: relative;
  overflow: hidden;
}

#slide5 .content {
  height: 300px;
  left: 75px;
  position: relative;
  top: 50px;
  width: 300px;
  z-index: 456;
}
#slide5 .content p {
  padding-right: 30px;
  padding-top: 20px;
}

#business01 {
  bottom: 300px;
  position: absolute;
  left: 298px;
  z-index: 5;
}
#business02 {
  bottom: 0;
  position: absolute;
  right: 0;
  z-index: 4;
}
#business03 {
  position: absolute;
  top: 0;
  z-index: 200;
}

/*  Slide 6 - Convention Center */

#slide6 {
  background: #15499f url(../images/conventionCenter-bg.jpg) 0 100px no-repeat;
  height: 550px;
  overflow: hidden;
  padding-top: 360px;
}

#slide6 h2 {
  margin-left: 75px;
  margin-bottom: 50px;
  width: 400px;
}

#slide6 .content {
  display: inline;
  float: left;
  margin-left: 75px;
  width: 300px;
}

/*  Slide 7 - The Community */

#slide7 {
  background: #15499f url(../images/community-bg.jpg) 0 0 no-repeat;
  height: 500px;
  overflow: hidden;
}

#slide7 .content {
  display: inline;
  float: left;
  margin-left: 75px;
  padding-top: 50px;
  width: 320px;
}

#slide7 .content h2 {
  font-size: 60px;
  line-height: 60px;
  margin-bottom: 20px;
}
#slide7 .content p {
  padding-right: 20px;
}

#community-stats {
  color: #a2cbee;
  float: right;
  font-family: "SteelfishBold", "Helvetica Neue", Arial, Helvetica, "Lucida Grande", Verdana, sans-serif;
  font-size: 30px;
  line-height: 100px;
  position: relative;
  top: 25px;
  width: 450px;
}

#community-stats dt,
#community-stats dd {
  background-color: #000000;
  background-color: rgba(0,0,0,.5);
  display: inline;
  float: left;
  margin-bottom: 20px;
  position: absolute;
}

#community-stats dt{
  color: #ffffff;
  font-size: 80px;
  padding-right: 30px;
  text-align: right;
  width: 120px;
}
#community-stats dt span {
  float: right;
  font-size: 40px;
  line-height: 60px;
  margin-right: -30px;
  text-align: center;
  width: 30px;
}

#community-stats dd {
  width: 300px;
}

#stat01-dt {
  left: 0;
  top: 0;
}
#stat01-dd {
  left: 150px;
  top: 0;
}
#stat02-dt {
  left: 0;
  top: 110px;
}
#stat02-dd {
  left: 150px;
  top: 110px;
}
#stat03-dt {
  left: 0;
  top: 220px;
}
#stat03-dd {
  left: 150px;
  top: 220px;
}
#stat04-dt {
  left: 0;
  top: 330px;
}
#stat04-dd {
  font-size: 80px;
  left: 150px;
  top: 330px;
}

/*  Slide 8 - Volunteer */

#slide8 {
  background: #15499f url(../images/volunteer-bg.jpg) 0 0 no-repeat;
  height: 900px;
}

#slide8 .content {
  margin-left: 75px;
  padding-top: 50px;
  width: 300px;
}

#slide8 .content h2 {
  margin-bottom: 20px;
}


#mc_embed_signup {
  background-color: #103777;
  background-color: rgba(0,0,0,.25);
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
  -webkit-box-shadow: inset 0 1px 20px rgba(0,0,0,.25), 0 1px 0 rgba(44,154,238,.25);
     -moz-box-shadow: inset 0 1px 20px rgba(0,0,0,.25), 0 1px 0 rgba(44,154,238,.25);
       -o-box-shadow: inset 0 1px 20px rgba(0,0,0,.25), 0 1px 0 rgba(44,154,238,.25);
          box-shadow: inset 0 1px 20px rgba(0,0,0,.25), 0 1px 0 rgba(44,154,238,.25);
  display: inline;
  float: left;
  margin-left: 75px;
  margin-top: 25px;
  padding: 35px 50px;
  width: 650px;
}

#mc_embed_signup legend {
  color: #ffffff;
  font-family: "SteelfishBold", "Helvetica Neue", Arial, Helvetica, "Lucida Grande", Verdana, sans-serif;
  font-size: 40px;
  text-transform: uppercase;
}

#mc_embed_signup .indicate-required {
  font-size: 10px;
  text-transform: uppercase;
  height: 30px;
  padding-top: 20px;
}
#mc_embed_signup .indicate-required,
#mc_embed_signup .note-required {
  color: #ffcc00;
  font-weight: bold;
}

div.mce_inline_error {
  color: #ffcc00;
  float: left;
  font-size: 12px;
  font-weight: bold;
  line-height: 30px;
  padding-left: 10px;
  white-space: nowrap;
  text-shadow: 0 1px 1px rgba(0,0,0,.5);
}

.mc-field-group {
  clear: both;
  display: block;
  float: left;
  margin-bottom: 15px;
  width: 100%;
}
.mc-field-group label {
  color: #fff;
  cursor: pointer;
  float: left;
  font-size: 13px;
  font-weight: bold;
  line-height: 30px;
  text-shadow: 0 1px 1px rgba(0,0,0,.5);
  width: 150px;
}
.mc-field-group label:hover {
  color: #d1e5f7;
}
.mc-field-group .input-group {
  float: left;
}
.mc-field-group .input-group li {
  clear: both;
  float: left;
  width: 400px;
}
.mc-field-group .input-group input {
  float: left;
  line-height: 20px;
  margin-right: 10px;
  vertical-align: middle;
}
.mc-field-group .input-group label {
  line-height: 20px;
  width: 300px;
}

#mc_embed_signup input {
  font-family: "Helvetica Neue", Arial, Helvetica, "Lucida Grande", Verdana, sans-serif;
}

input.form-text {
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.5);
     -moz-box-shadow: 0 1px 3px rgba(0,0,0,.5);
       -o-box-shadow: 0 1px 3px rgba(0,0,0,.5);
          box-shadow: 0 1px 3px rgba(0,0,0,.5);
  background-color: #ffffff;
  border: none;
  float: left;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  padding: 4px 10px;
  width: 200px;
}

select {
  margin-top: 5px;
}

input#mc-embedded-subscribe {
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  border: 1px solid #2c9aee;
  border-left-color: #2172c7;
  border-right-color: #2172c7;
  border-bottom-color: #1b5db3;
  background-color: #15499f;
  color: #ffffff;
  cursor: pointer;
  font-family: "Helvetica Neue", Arial, Helvetica, "Lucida Grande", Verdana, sans-serif;
  font-size: 12px;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
  margin-left: 150px;
  padding: 0 20px 0 20px;
  text-transform: uppercase;
}
input#mc-embedded-subscribe:hover {
  background-color: #1b5db3;
}

#mc_embed_signup .response {
  color: #ffcc00;
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 20px;
  margin-left: 150px;
  text-shadow: 0 1px 1px rgba(0,0,0,.5);
}

/*  Slide 9 - Closing */

#slide9 {
  height: 700px;
  overflow: hidden;
}

#slide9 .drop {
  left: 50%;
  margin-left: -50px;
  position: absolute;
  top: 20px;
}

#slide9 h1 {
  background: url(../images/header-drupalConDenver.png) 50% 50% no-repeat;
  height: 130px;
  left: 50%;
  line-height: 130px;
  margin-left: -300px;
  overflow: hidden;
  position: absolute;
  text-indent: -9999px;
  top: 150px;
  width: 600px;
}

#slide9 h2 {
  background: url(../images/header-date.png) 50% 50% no-repeat;
  height: 40px;
  left: 50%;
  line-height: 40px;
  margin-left: -300px;
  overflow: hidden;
  position: absolute;
  text-indent: -9999px;
  top: 290px;
  width: 600px;
}

#slide9 .twitter {
  background: url(../images/bg-twitter.png) 50% 50% no-repeat;
  height: 220px;
  left: 50%;
  margin-left: -120px;
  overflow: hidden;
  position: absolute;
  text-indent: -9999px;
  top: 400px;
  width: 240px;
}
#slide9 .twitter:hover {
  opacity: .9;
}

/*------------------------------------
  BACKGROUND
------------------------------------*/

#bg-mountains {
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
}

/*------------------------------------
  NAV
------------------------------------*/

#nav {
  background-color: #000000;
  background-color: rgba(0,0,0,.9);
  bottom: 0;
  height: 50px;
  left: 0;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

#nav .container {
  margin: 0 auto;
  position: relative;
  width: 900px;
}

#nav ul {
  float: left;
}
#nav li {
  float: left;
}
#nav li a {
  color: #a2cbee;
  float: left;
  font-family: "SteelfishBold", "Helvetica Neue", Arial, Helvetica, "Lucida Grande", Verdana, sans-serif;
  font-size: 30px;
  line-height: 50px;
  margin-right: 30px;
  text-decoration: none;
  text-transform: uppercase;
  -moz-transition: all .1s linear;
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear;
}
#nav li a:hover,
#nav li a.active {
  color: #ffffff;
}

#nav .twitter {
  background: url(../images/icon-twitter.png) 0 0 no-repeat;
  color: #ffffff;
  float: right;
  font-size: 13px;
  font-weight: bold;
  line-height: 50px;
  padding-left: 20px;
  text-decoration: none;
}
#nav .twitter strong {
  color: #d1e5f7;
  -moz-transition: all .1s linear;
  -webkit-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear;
}
#nav .twitter:hover {
  background-position: 0 -100px;
  text-decoration: underline;
}
#nav .twitter:hover strong {
  color: #ffffff;
}